{% include 'admin/iheader.html' %}
<style>
	body {margin: 10px;}
	.demo-carousel {height: 200px;line-height: 200px;text-align: center;}
	.layui-table-view .layui-table {width: 100%}
	.model {padding: 20px;}
	.layui-upload-img {width: 100px;height: 100px;border: 1px solid transparent;}
</style>
{% include 'admin/crumbs1.html' %}
<form class="layui-form" action="" style="width: 700px; padding-bottom: 30px;">
</form>
<script>
	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initFrom();
		},
		initFrom: function() {
			hm.showAddEdit({
				el: ".layui-form",
				list: [{type: "text",name: "主键",display:true, field: "om_iof_order-id"},
					{type: "select",name: "用户名",verify:"tel",field: "um_company.uid",url:"/admin/api_user/grid",colKey:"uid",colName:"username"},
					{type: "upload",name: "公司logo",field: "um_company.logo"},
					{type: "select",name: "公司名称",field: "um_company.company_name",url:"/admin/Api_company/grid",colKey:"id",colName:"company_name"},
					{type: "text",name: "公司网址",field: "um_company.website"},
					{type: "text",name: "公司法人",field: "um_company.legal_person"},
					{type: "upload",name: "营业执照",field: "um_company.business_license"},
					{type: "text",name: "公司联系电话",field: "um_company.tel"}
				],
				selectKey:"om_iof_order-id",   //列字段id   例: id, product_id
//				verifyData:{
//					option: [{
//						verifyDate: "password"
//					}, {
//						verifyDate: "tel"
//					},{
//						verifyDate: "test",
//						match:[/\d+\.\d+\.\d+\.\d+ /, '请填写正确的ip']
//					}],
//					el: ".layui-form"
//				},  //检索  默认  ''  要检索时  添加检索
				infoUrl:"/admin/am/api_rz_company/info",   //编辑详情接口
				addEditUrl:'/admin/am/api_rz_company/update_or_add', //添加的接口 
				prevUrl:'{{base_url}}/admin/auser/enter_company'   //添加成功返回的页面
			});
		},
	});
</script>
</body>
</html>



