{% include 'admin/iheader.html' %}
{% include 'admin/crumbs.html' %}
<table class="layui-hide" id="tabel_user" lay-filter="tabel_user"></table>
{% include 'admin/import.html' %}
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>

	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initTabel();
		},
		initTabel: function() {
			hm.load(function(option) {
				var table = option.table;
				var public = option.public;
				public.showTable({
					topTool: {
						btnArr: [{title: "添加",type: "add"},
						{title: "高级搜索",type: "hSearch",},
						{title: "批量删除",type: "plDel",class: "layui-btn-danger"},
						{title: "导出",type: "export",}]
					},
					cols: [{checkbox: true,},


					
						{field: "id",width: 80,sort: true,title: "id",hidden:true,type: "",sear: "id"},
						{field: "uid",width: 80,title: "用户ID",type: "",sear: "uid"},
						{field: "company_name",width: 80,title: "公司名称",type: "",sear: "company_name"},
						{field: "logo",width: 150,title: "企业logo",type: "image",sear: ""},
						{field: "website",width: 150,title: "公司网址",type: "",sear: "website"},
						{field: "qq",width: 150,title: "公司QQ",type: "",sear: "qq"},
						{field: "prov",width: 150,title: "公司地址--省",type: "select",sear: ""},
						{field: "city",width: 150,title: "公司地址--市",type: "",sear: ""},
						{field: "dist",width: 200,title: "公司地址--区",type: "",sear: ""},
						{field: "street",width: 200,title: "公司地址--街道",type: "",sear: ""},
						{field: "business_license",width: 150,title: "营业执照图片",type: "image",sear: ""},
						{field: "legal_person",width: 150,title: "公司法人名称",type: "",sear: "legal_person"},
						{field: "credit_code",width: 150,title: "企业信用代码",type: "",sear: "credit_code"},
						{field: "tel",width: 120,title: "联系座机",type: "",sear: "tel"},
						{field: "mobile",width: 120,title: "联系手机",type: "",sear: "mobile"},
						{field: "alt_id",width: 120,title: "企业子账号ID",type: "",sear: "alt_id"},
						{field: "program_ids",width: 120,title: "企业项目ID",type: "",sear: "program_ids"},
						{field: "contract_ids",width: 120,title: "企业合同ID",type: "",sear: "contract_ids"},
						{field: "create_at",width: 150,title: "创建时间",type: "time",sear: "create_at"},
						{field: "right",width: 180,title: "操作",toolbar: ykp.$('#barDemo'),align: "center",fixed: 'right',}
					],
					reader: {
						elem: "#tabel_user",
						url: "{{base_url}}admin/Api_company/grid",
						method: "post",
						id: 'tabel_user'
					},
					autoCol: true, //自定义列表,
					tool: {
						id: "id",  //该行id字段名
						//是否执行跳转页面操作    true 不跳转  false 跳转  默认为false
						Event: [{type: "edit",url: '{{base_url}}admin/user/editCompany?id='},
							{type: "detail",url: '{{base_url}}admin/user/info_Company?id='},
							{type: "del",url: '{{base_url}}admin/Api_company/delete'}
						]
					},
					topBtnActive: {
						Event: [{type: "add",url: '{{base_url}}admin/user/addCompany'},
							{type: "plDel",url: '{{base_url}}admin/api_company/delete'}, 
							{type: "improt",url: "/upload"},
							{type: "export",url: "/upload"}
						]
					}
				});
			});
		}
	});
</script>
</body>

</html>
