{% include 'admin/iheader.html' %}
<style>
	body {margin: 10px;}
	.demo-carousel {height: 200px;line-height: 200px;text-align: center;}
	.layui-table-view .layui-table {width: 100%}
	.model {padding: 20px;}
	.layui-upload-img {width: 100px;height: 100px;border: 1px solid transparent;}
</style>
{% include 'admin/crumbs1.html' %}
<form class="layui-form" action="" style="width: 700px; padding-bottom: 30px;">
</form>
<script>

	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initFrom();
		},

		initFrom: function() {
			hm.showAddEdit({
				el: ".layui-form",
				list: [
					//{type: "text",name: "用户ID",field: "um_user_level.uid"},
					{type: "select",name: "等级ID",field: "um_user_level.level_id",sOption: {1: "一级",2: "二级",3: "三级"}},
					{type: "text",name: "等级名称",field: "um_user_level.level_name"},
					{type: "text",name: "等级条件",field: "um_user_level.price_limit"},
					{type:"text",name:'创建人ID',field:'um_user_level.creator_id'},
					{type:'time',name:'创建时间',field:'um_user_level.create_at'}
				],
				selectKey:"um_user_level.id",   //列字段id   例: id, product_id
//				  //检索  默认  ''  要检索时  添加检索
				infoUrl:"/admin/api_user_level/info",   //编辑详情接口
				addEditUrl:'/admin/api_company_service/update_or_add', //添加的接口 
				prevUrl:'{{base_url}}/admin/user/user_level'   //添加成功返回的页面
			});
		},
	});
</script>
</body>
</html>

