<style>
    #bt_slide_ol li{width:15px;height:15px;border-radius:50%;background:#999;border:0;margin:0 5px;}
    #bt_slide_ol .active{width:15px;height:15px;background:#fff;border:0;box-shadow:0 0 10px #ccc;margin:0 5px;}
    #bt_slide .item a{width:inherit;height:inherit;display:block;} /*//全局幻灯片样式*/
</style>
<div id="bt_slide" class="carousel slide" data-ride="carousel">
    <ol id="bt_slide_ol" class="carousel-indicators">
        {% for key,item in banners %}
        <li data-target="#bt_slide" data-slide-to="{{key}}" {% if key ==0 %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for key,item in banners %}
        <div class="item {% if key ==0 %}active{% endif %}" style="background: url({{item['path']}}?v={{version}}) no-repeat center center;height:{{item['height']}};width:{{item['width']}};background-size:cover;">
            {% if item.link =='' %}
            <div class="carousel-caption">{{item['desc']}}</div>
            {% endif %}
            {% if item.link !='' %}
            <a href="{{item['link']}}" target="_blank"><div class="carousel-caption">{{item['desc']}}</div></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
