{% include 'admin/iheader.html' %}
{% include 'admin/crumbs.html' %}
<table class="layui-hide" id="tabel_user" lay-filter="tabel_user"></table>
{% include 'admin/import.html' %}
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
    ykp.defineClass(['element', "jquery", 'laytpl'], {
        init: function () {
            var it = this;
            //初始化列表
            it.initTabel();
        },
        initTabel: function () {
            hm.load(function (option) {
                var table = option.table;
                var public = option.public;
                public.showTable({
                    topTool: {
                       btnArr: [{title: "添加", type: "add"},
                       {title: "批量删除",type: "plDel",class: "layui-btn-danger"},
                            {title: "高级搜索", type: "hSearch"},
                         	{title: "导出", type: "export" }
                            ]
                    },
                    cols: [{checkbox: true, },
                        {field: "id", width: 80, sort: true, title: "ID", type: "", sear: "id"},
                        {field: "name", width: 80, title: "判断字段", type: "", sear: "name"},
                        {field: "title", width: 80, title: "标题名称", type: "", sear: "title"},
                        {field: "type", width: 80, title: "类型", type: "select", sear: "type", enum: {0: "其他", 1: "顶部导航", 2: "关于我们", 3: "商务合作", 4: "隐私策略", 5: "帮助中心"}},
                        {field: "url", width: 80, title: "网址url", type: "", sear: "url"},
                        {field: "picture", width: 80, title: "图片", type: "image", sear: ""},
                        {field: "is_show", width: 80, title: "是否显示", type: "select", sear: "is_show", enum: {0: "否", 1: "是"}},
                        {field: "sort", width: 150, title: "排序", type: "", sear: "sort"},
                        {field: "remark", width: 150, title: "备注", type: "", sear: "remark"},
                        {field: "right", width: 160, title: "操作", toolbar: $('#barDemo'), align: "left", fixed: 'right'}
                    ],
                    reader: {
                        elem: "#tabel_user",
                        url: "/admin/pm/api_frame/grid",
                        method: "post",
                        id: 'tabel_user',
                        where: {
                            filter: ""
                        },
                    },
                    autoCol: true, //自定义列表,
                    tool: {
                        id: "id", //该行id字段名
                        //是否执行跳转页面操作    true 不跳转  false 跳转  默认为false
                         Event: [{type: "edit", url: '/admin/currency/editFrame?id='},
                            {type: "detail", url: '/admin/currency/infoFrame?id='},
                            {type: "del", url: '/admin/pm/api_frame/delete'}
                        ]
                    },
                   topBtnActive: {
                        Event: [{type: "add", url: '/admin/currency/addFrame'},
                        {type: "plDel",url: '/admin/pm/api_frame/delete'}
                           // {type: "improt", url: "/upload"},
                           // {type: "export", url: "/upload"}
                        ]
                    }
                });
            });

        }
    });
</script>
</body>

</html>