{% include 'admin/iheader.html' %}
{% include 'admin/crumbs.html' %}
<table class="layui-hide" id="tabel_user" lay-filter="tabel_user"></table>
{% include 'admin/import.html' %}
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<!-- 其他服务管理 -->
<script>
    ykp.defineClass(['element', "jquery", 'laytpl'], {
        init: function () {
            var it = this;
            //初始化列表
            it.initTabel();
        },
        initTabel: function () {
            hm.load(function (option) {
                var table = option.table;
                var public = option.public;
                public.showTable({
                    topTool: {
                        btnArr: [{title: "添加", type: "add", url: "/admin/product/addService"},
                            {title: "高级搜索", type: "hSearch"},
                            {title: "批量删除", type: "plDel", class: "layui-btn-danger", url: "/admin/api_product/del"},
                          	{title: "导出", type: "export"}
                            ]
                    },
                    cols: [{checkbox: true, },
                        {field: "id", width: 80, sort: true, title: "主键",type: "", sear: "id"},
                        {field: "name", width: 80, title: "名称", type: "", sear: "name"},
                        {field: "type", width: 80, title: "类型", type: "select", sear: "type",enum: {0:"个人",1:"行业"}},
                        {field: "create_at", width: 150, title: "创建时间", type: "time", sear: "create_at"},
                        {field: "right", width: 180, title: "操作", toolbar: $('#barDemo'), align: "center", fixed: 'right'}
                    ],
                    reader: {
                        elem: "#tabel_user",
                        url: "/admin/pm/api_label/grid",
                        method: "post",
                        id: 'tabel_user',
                        where: {
                            filter: ""
                        },
                        data: getData
                    },
                    autoCol: true, //自定义列表,
                    tool: {
                        id: "id", //该行id字段名
                        //是否执行跳转页面操作    true 不跳转  false 跳转  默认为false
                        Event: [{type: "edit", url: '/admin/currency/editLabel?id='},
                            {type: "detail", url: '/admin/currency/infoLabel?id='},
                            {type: "del", url: '/admin/pm/api_label/delete'}
                        ]
                    },
                    topBtnActive: {
                        Event: [{type: "add", url: '/admin/currency/addLabel'},
                            {type: "plDel", url: '/admin/pm/api_label/delete'},
//                          {type: "improt", url: "/upload"},
//                          {type: "export", url: "/upload"}
                        ]
                    }
                });
            });
            function getData(res, callback) {
                console.log(res);
                if (typeof callback == 'function') {
                    callback(res.data);
                }
                console.log(res.data);
            }
        }
    });
</script>
</body>

</html>
