<div id="" style="border: 1px none #fafafa; border-bottom-style: solid;">
    <span class="layui-breadcrumb" style="display: inline-block; padding: 10px;position:relative;top:-5px;">
        <a href="/admin/{{model}}">{{category}}</a>
        <a href="/admin/{{model}}{{controlName}}">{{prevTitle}}</a>
        <a><cite>{{title}}</cite></a>
    </span>
</div>
<script src="/resource/admin/layui/layui.js"></script>
<script src="/resource/admin/js/jslib/ykp.js"></script>
<script src="/resource/admin/js/jslib/public.js"></script>

