<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="/resource/admin/layui/css/layui.css">
		<link rel="stylesheet" href="/resource/admin/font-awesome-v4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="/resource/admin/css/iframe_base.css">
		<link rel="stylesheet" href="/resource/admin/css/public.css">
		<!--<script src="/resource/admin/layui/layui.js"></script>-->
		<script src="/resource/admin/js/jslib/jquery2.2.4.min.js"></script>
		<link href="/resource/admin/js/jslib/kindeditor/themes/default/default.css" />
		<script src="/resource/admin/js/jslib/kindeditor/kindeditor-min.js" />
		<script src="/resource/admin/js/jslib/kindeditor/lang/zh_CN.js" />
		<!--<script src="/resource/admin/js/jslib/ykp.js"></script>-->
		<script>
			var cfg = {
				'BASE_URL': "{{base_url}}"
			}; //,'UPLOAD_PATH':"{{admin_upload_path}}"
		</script>
	</head>

	<body>