<div class="layui-layer layui-layer-page" id="import1" type="page" style="display: none; z-index: 51; width: 400px; top: 100px;">
    <div id="" class="layui-layer-content" style="height: 200px; ">
        <div id="import" style="padding: 10px;" class="layui-layer-wrap">
            <div class="layui-upload" style="margin-bottom: 10px;">
                <button type="button" class="layui-btn layui-btn-normal test8" id="test8">选择文件</button><input class="layui-upload-file" type="file" name="file">
            </div>
            <div id="">
                <p>1、导出数据,或选择导入模板</p>
                <p>2、123131313132131313131313</p>
                <p>3、123131313132131313131313</p>
                <p>4、123131313132131313131313</p>
                <p>5、123131313132131313131313</p>
            </div>
        </div>
    </div>
    <div class="layui-layer-btn layui-layer-btn-" style="border-top:1px solid #eee;">
        <a class="layui-layer-btn0 actionBtn">确认</a>
        <a class="layui-layer-btn1">取消</a>
    </div><span class="layui-layer-resize"></span></div>
<style>
    .layui-layer-tab .layui-layer-content {
        width: 100% ;
    }
    .layui-form-pane .layui-form-item[pane]{
        border: none;
    }
</style>