{% include 'admin/header.html' %}
<link rel="stylesheet" href="/resource/admin/css/index.css">
<script src="/resource/admin/js/jsapp/index.js"></script>

<div class="content-iframe" style="overflow: hidden; background: #fff;">
    <div class="mainContent" id="content-main" style="margin: 10px; margin-bottom: 0px; padding: 0;">
        <iframe class="LRADMS_iframe" width="100%" height="100%" src="/admin/home/default_index" frameborder="0" data-id="/admin/home/default_index"></iframe>
    </div>
</div>

{% include 'admin/footer.html' %}