<!doctype html>
<html lang="en">
	<title>海脉空间 - {{title.title}}</title>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<link rel="stylesheet" href="../resource/home/css/bootstrap.min.css">
	<link rel="stylesheet" href="../resource/home/fonts/material-icons.css">
	<link rel="stylesheet" href="../resource/home/css/wstyle.css">
	<link rel="stylesheet" href="../resource/home/css/ioffice.css">
	<link rel="stylesheet" href="../resource/home/css/tyle.css">
</head>
<body style="background-color:#f9f9f9;">
{% include 'front/h_header.html' %}

	<div class="store">
		<div id="slideBox" class="slideBox" style="height: auto;position: static;margin-bottom: 80px;">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					{% for data in title.banner.data.rows %}
					<li><a href="{{data.link}}"><img src="../resource/home/images/banner.png" /></a></li>
					{% endfor %}
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>

	<div class="newtainer">
		<div class="static hi-static">
			<div class="item">
				<i><img src="../resource/home/images/hi1.png" alt=""></i>
				<p class="num">{{wnumber.data.channelTotal}}</p>
				<p>渠道服务商</p>
			</div>
			<div class="item">
				<i><img src="../resource/home/images/hi2.png" alt=""></i>
				<p class="num">{{wnumber.data.finTotal}}</p>
				<p>融资服务商</p>
			</div>
			<div class="item">
				<i><img src="../resource/home/images/hi3.png" alt=""></i>
				<p class="num">{{wnumber.data.billTotal}}</p>
				<p>贷款服务商</p>
			</div>
			<div class="item">
				<i><img src="../resource/home/images/hi4.png" alt=""></i>
				<p class="num">{{wnumber.data.servivceTotal}}</p>
				<p>企服服务商</p>
			</div>
			<div class="item">
				<i><img src="../resource/home/images/hi5.png" alt=""></i>
				<p class="num">{{wnumber.data.spaceTotal}}</p>
				<p>空间服务</p>
			</div>
			<div class="item">
				<i><img src="../resource/home/images/hi6.png" alt=""></i>
				<p class="num">{{wnumber.data.instustryTotal}}</p>
				<p>行业资源</p>
			</div>
		</div>
	</div>

	<div class="hqst-main">
		<div class="hqst-container">
			<div class="icurtit bt20-">
				渠道资源
				<a href="/hmspace/resources_list" class="more">查看全部 ></a>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="hqst-card-column">
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hqst-card-column">
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hqst-card-column">
						<div class="hqstaa-card">
							<img src="../resource/home/images/hqst-t2.png">
							<div class="hqst-card-wmb">
								<p class="hqst-card-wmb-pa">渠道人才</p>
								<p class="hqst-card-wmb-pb">为您推荐合适人选</p>
								<a href="/hmspace/talent"><p>点击查看</p></a>
								<div class="hqst-card-xmb"></div>
							</div>
						</div>
						<div class="hqsta-card">
							<a href="/hmspace/resources_list"><img src="../resource/home/images/hqst-t1.png"></a>
							<p class="hqsta-card-bp">互联网（15422）</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="newtainer ship hi-ship">
		<div class="bt row">
			<div class="col-md-4">
				<div class="tab">
					<div class='tit'>商机动态</div>
					<div class="bod">
						{% for data in buss.data.rows %}
						<a href="/hmspace/business_details?id={{data.id}}">
						<div class='item'>
							<div class='l0t'><img src="{{data.pic}}" alt=""></div>
							<div class='r0t'>
								<p>{{data.title}}</p>
								<p><i class="material-icons">place</i>{{data.addr}}</p>
								<p>{{data.date}}  {{data.start_time}}-{{data.end_time}}</p>
							</div>
						</div>
						</a>
						{% endfor %}
					</div>
					<a href="/hmspace/business"><div class="pbtm">查看更多</div></a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tab">
					<div class='tit'>圈子动态</div>
					<div class="bod">
						{% for data in circle.data.rows %}
						<div class='item0 l'>
							<img src="{{data.pic}}" alt="">
							<div><p>{{data.title}}</p><p>{{data.people_num}}个人</p></div>
						</div>
						{% endfor %}
					</div>
					<div class="pbtm">查看更多</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tab">
					<div class='tit'>人脉动态</div>
					<div class="bod">
						{% for data in people.data.rows %}
						<a href="/hmspace/talent_details?id={{data.id}}">
						<div class="item1">
							<div class='l0t'><img src="{{data.avatar}}" alt=""></div>
							<div class='r0t'>
								<p><span class='t0'>{{data.name}}</span><span>{{data.job_title}}</span></p>
								<p>{{data.company_name}}</p>
							</div>
						</div>
						</a>
						{% endfor %}
					</div>
					<a href="/hmspace/talent"> <div class="pbtm">查看更多</div></a>
				</div>
			</div>
		</div>
	</div>

	<div class="hbo-main">
		<div class="hbo-main-container">
			<div class="icurtit">
				优质项目（<span>{{project.data.total}}</span>）
				<a href="/hmspace/business" class="more">查看全部 ></a>
			</div>
			<div class="row">
				{% for data in project.data.rows %}
				<div class="col-md-6">
					<div class="hbo-main-card">
						<a href="{{data.id}}"><img src="../resource/home/images/{{data.logo}}" alt=""></a>
						<p class="hbo-main-cardpa">{{data.name}}</p>
						<a href=""><p class="hbo-main-cardpb">申请代理</p></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="hbo-main newtainer xmly">
		<div class="icurtit">
			活动路演
			<a href="#" class="more">查看全部 ></a>
		</div>
		<div class="row">
			{% for data in ly.data.rows%}
			<div class="col-md-4">
				<div class="item">
					<div class="img-box"><img src="../resource/home/images/{{data.thumb}}" alt=""></div>
					<a href="{{data.id}}"><p class="title">{{data.title}}</p></a>
					<p><i class="material-icons">access_time</i>{{data.create_at}}  14:00-17:00</p>
					<p><i class="material-icons">location_on</i>{{data.addr}}</p>
					<div class="prode">
						<div class="iconhd"><img src="../resource/home/images/head-portrait.png" alt=""></div>
						中国奥秘科技股份有限公司
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="htr-main newtainer jgtj">
		<div class="icurtit bt20-">
			机构推荐
			<a href="#" class="more">查看全部 ></a>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="htr-card hti-card">
					<div class="htiin-">
						<img src="../resource/home/images/linghu.png" alt="">
						<p class="htr-card-name">灵狐传媒</p>
						<ul class="htr-card-ul">
							<li>资源</li>
							<li>技术</li>
							<li>效率</li>
						</ul>
						<i class="material-icons">star</i>
						<div class="bt-deta">
							<div><i class="material-icons">location_on</i>深圳</div>
							<div><i class="material-icons">remove_red_eye</i>259810</div>
						</div>
					</div>
					<div class="hti-card-wmb">
						<div class="wx-dfx">
							<p>完成质量</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>服务态度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>工作速度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="hti-card-xmb"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="htr-card hti-card">
					<div class="htiin-">
						<img src="../resource/home/images/linghu.png" alt="">
						<p class="htr-card-name">奥米亚科技</p>
						<ul class="htr-card-ul">
							<li>资源</li>
							<li>技术</li>
							<li>效率</li>
						</ul>
						<i class="material-icons sbd">star_border</i>
						<div class="bt-deta">
							<div><i class="material-icons">location_on</i>深圳</div>
							<div><i class="material-icons">remove_red_eye</i>259810</div>
						</div>
					</div>
					<div class="hti-card-wmb">
						<div class="wx-dfx">
							<p>完成质量</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>服务态度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>工作速度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="hti-card-xmb"></div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="htr-card hti-card">
					<div class="htiin-">
						<img src="../resource/home/images/linghu.png" alt="">
						<p class="htr-card-name">AspireBoard</p>
						<ul class="htr-card-ul">
							<li>资源</li>
							<li>技术</li>
							<li>效率</li>
						</ul>
						<i class="material-icons sbd">star_border</i>
						<div class="bt-deta">
							<div><i class="material-icons">location_on</i>深圳</div>
							<div><i class="material-icons">remove_red_eye</i>259810</div>
						</div>
					</div>
					<div class="hti-card-wmb">
						<div class="wx-dfx">
							<p>完成质量</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>服务态度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="wx-dfx">
							<p>工作速度</p>
							<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
						</div>
						<div class="hti-card-xmb"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="fixtainer container">
		<div class="rightfix">
			<div class="online">
				<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
			</div>
			<div class="fixmenu">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
	{% include 'front/footer.html' %}
	
	<script src="../resource/home/js/jquery-1.11.3.min.js"></script>
	<script src="../resource/home/js/bootstrap.min.js"></script>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	<link href="../resource/home/js/rateyo/jquery.rateyo.min.css" rel="stylesheet">
	<script src="../resource/home/js/rateyo/jquery.rateyo.min.js"></script>
	<script>
		$(function () {
		  $(".rateYo").rateYo({
		    rating: 4.7,
		    precision: 2,
		    starWidth: "16px",
		    spacing: "3px",
		    readOnly: true,
		    onChange: function (rating, rateYoInstance) {
				$(this).next().text(rating);
		    }
		  });
		});
	</script>
</body>
</html>