{% include 'front/i_header.html' %}

	<div style="height: 60px;"></div>

	<div class="container newtainer">
		<div class="ithead">
			<div class="titbg">IOFFICE·广州保利威座店</div>
			<span>广州珠江新城金穗路1号保利威座北塔24-25层</span>
			<span>联系电话：020-35806008</span>
		</div>
		<div class="itable">
			<table>
				<tr>
					<th rowspan="3">O2401</th>
					<th rowspan="3">O2402</th>
					<th rowspan="3">O2403</th>
					<th rowspan="3">O2404</th>
					<th rowspan="3">O2405</th>
					<th>C2401</th>
					<th>C2402</th>
					<th>C2403</th>
					<th>C2404</th>
					<th>C2405</th>
					<th>C2406</th>
					<th>C2407</th>
					<th rowspan="3" style="width: 91px;padding: 0 15px;">物品寄存</th>
					<th rowspan="3">M2405</th>
					<th rowspan="3">M2404</th>
				</tr>
				<tr>
					<td>C2408</td>
					<td>C2409</td>
					<td>C2410</td>
					<td>C2411</td>
					<td>C2412</td>
					<td>C2413</td>
					<td>C2414</td>
				</tr>
				<tr>
					<td>C2415</td>
					<td>C2416</td>
					<td>C2417</td>
					<td>C2418</td>
					<td>C2419</td>
					<td>C2420</td>
					<td>C2421</td>
				</tr>
				<tr>
					<td colspan="15" style="border: 0;">走廊</td>
				</tr>
			</table>
			<table>
				<tr class="bto">
					<td rowspan="2" style="width: 100px;">M2401</td>
					<td rowspan="2" style="width: 100px;">M2402</td>
					<td rowspan="2">O2406</td>
					<td rowspan="2">O2407</td>
					<td rowspan="2">O2408</td>
					<td rowspan="2">O2409</td>
					<td rowspan="2">O2410</td>
					<td rowspan="2" style="width: 150px;border: 0;"></td>
					<td rowspan="2" style="width: 200px;background: #4373f9;color: #fff;">B2401</td>
					<td rowspan="2" style="border: 0;">走廊</td>
					<td>R2401</td>
					<td rowspan="2">M2403</td>
				</tr>
				<tr class="bto">
					<td>R2402</td>
				</tr>
			</table>
		</div>
		<div class="ittips">
			<span>注：</span>
			<p>MR-代表经理室（Mannager Room）<br>RS-代表笃定工位（Regular Station）</p>
			<p>O-代表办公室（Office）<br>B-代表会议室（BOardroom）</p>
			<p>MS-代表移动工位（Mobile Station）<br>RR-代表会客室（Reception Room）</p>
		</div>
	</div>
	
	<div style="height: 60px;"></div>
	{% include 'front/footer.html' %}
	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>