{% include 'front/i_header.html' %}

	<div style="height: 60px;"></div>

	<div class="newtainer">
		<div class="ithead">
			<div class="titbg">IOFFICE·广州保利威座店</div>
			<span>广州珠江新城金穗路1号保利威座北塔24-25层</span>
			<span>联系电话：020-35806008</span>
		</div>
		<div class="itable">
			<table>
				<tr>
					<th rowspan="3">O2401</th>
					<th rowspan="3">O2402</th>
					<th rowspan="3">O2403</th>
					<th rowspan="3">O2404</th>
					<th rowspan="3">O2405</th>
					<th>C2401</th>
					<th>C2402</th>
					<th>C2403</th>
					<th>C2404</th>
					<th>C2405</th>
					<th>C2406</th>
					<th>C2407</th>
					<th rowspan="3" style="width: 91px;padding: 0 15px;">物品寄存</th>
					<th rowspan="3">M2405</th>
					<th rowspan="3">M2404</th>
				</tr>
				<tr>
					<td>C2408</td>
					<td>C2409</td>
					<td>C2410</td>
					<td>C2411</td>
					<td>C2412</td>
					<td>C2413</td>
					<td>C2414</td>
				</tr>
				<tr>
					<td>C2415</td>
					<td>C2416</td>
					<td>C2417</td>
					<td>C2418</td>
					<td>C2419</td>
					<td>C2420</td>
					<td>C2421</td>
				</tr>
				<tr>
					<td colspan="15" style="border: 0;">走廊</td>
				</tr>
			</table>
			<table>
				<tr class="bto">
					<td rowspan="2" style="width: 100px;">M2401</td>
					<td rowspan="2" style="width: 100px;">M2402</td>
					<td rowspan="2">O2406</td>
					<td rowspan="2">O2407</td>
					<td rowspan="2">O2408</td>
					<td rowspan="2">O2409</td>
					<td rowspan="2">O2410</td>
					<td rowspan="2" style="width: 150px;border: 0;"></td>
					<td rowspan="2" style="width: 200px;background: #4373f9;color: #fff;">B2401</td>
					<td rowspan="2" style="border: 0;">走廊</td>
					<td>R2401</td>
					<td rowspan="2">M2403</td>
				</tr>
				<tr class="bto">
					<td>R2402</td>
				</tr>
			</table>
		</div>
		<div class="ittips">
			<span>注：</span>
			<p>MR-代表经理室（Mannager Room）<br>RS-代表笃定工位（Regular Station）</p>
			<p>O-代表办公室（Office）<br>B-代表会议室（BOardroom）</p>
			<p>MS-代表移动工位（Mobile Station）<br>RR-代表会客室（Reception Room）</p>
		</div>
	</div>
	
	<div style="height: 60px;"></div>

	<div class="newtainer">
		<div class="alstatic">
			<div class="de fa"></div><span>可预订</span>
			<div class="de nofa"></div><span>不可预订</span>
			<div class="de infa"></div><span>已经预订</span>
			<div class="de onfa"></div><span>已选中</span>
		</div>
		
		<div class="alrow">
			<div class="datetimepicker">
		        <input type="hidden" value="2017年7月24日">
		    </div>
		    <div class="alinfpo">
		    	<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
				<p class="title">会议室 B01<span>¥50/小时</span></p>
				<p class="des">物品清单：老板椅x10、会议桌x1、办公椅x4、投影仪x1智能电视x1</p>
		    </div>
		    <div class="alrinfo">
		    	<div class="item">
				    <div class="sltable-time">
				    	<div class="th">
				    		<div class="inwor">上午</div><div class="inwor">下午</div>
				    	</div>
				    	<div class="th">
			    			<div class="inwor">9时</div>
			    			<div class="inwor">10时</div>
			    			<div class="inwor">11时</div>
			    			<div class="inwor">12时</div>
			    			<div class="inwor">13时</div>
			    			<div class="inwor">14时</div>
			    			<div class="inwor">15时</div>
			    			<div class="inwor">16时</div>
			    			<div class="inwor">17时</div>
			    			<div class="inwor">18时</div>
			    		</div>
			    		<div class="th sltime">
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    			<div class="onwor"></div>
			    		</div>
				    	<p>预订：2017年7月20日，星期四 9时、10时、11时   费用：<span>￥150</span></p>
				    </div>
			    </div>
			</div>
			<div class="alrecommend">
				<p class="bigtit">还可预定</p>
				<div class="arow">
					<div class="item">
						<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
						<p class="imde">黑白文印(¥0.5/张）</p>
						<div class="altotal">
							<button class="min" type="button"><i class="material-icons">remove</i></button>
							<input class="quantity" type="text" value="1" readonly="readonly" />
							<button class="add" type="button"><i class="material-icons">add</i></button>
						</div>
					</div>
					<div class="item">
						<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
						<p class="imde">黑白文印(¥0.5/张）</p>
						<div class="altotal">
							<button class="min" type="button"><i class="material-icons">remove</i></button>
							<input class="quantity" type="text" value="1" readonly="readonly" />
							<button class="add" type="button"><i class="material-icons">add</i></button>
						</div>
					</div>
					<div class="item">
						<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
						<p class="imde">黑白文印(¥0.5/张）</p>
						<div class="altotal">
							<button class="min" type="button"><i class="material-icons">remove</i></button>
							<input class="quantity" type="text" value="1" readonly="readonly" />
							<button class="add" type="button"><i class="material-icons">add</i></button>
						</div>
					</div>
					<div class="item">
						<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
						<p class="imde">黑白文印(¥0.5/张）</p>
						<div class="altotal">
							<button class="min" type="button"><i class="material-icons">remove</i></button>
							<input class="quantity" type="text" value="1" readonly="readonly" />
							<button class="add" type="button"><i class="material-icons">add</i></button>
						</div>
					</div>
					<div class="item">
						<div class="img-box"><img src="../resource/home/images/1137.png" alt=""></div>
						<p class="imde">黑白文印(¥0.5/张）</p>
						<div class="altotal">
							<button class="min" type="button"><i class="material-icons">remove</i></button>
							<input class="quantity" type="text" value="1" readonly="readonly" />
							<button class="add" type="button"><i class="material-icons">add</i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="newtainer">
		<p class="xgti">选购详情</p>
		<div class="company alcompany">
			<div class="witem Uniform tlf">
				<div class="tit"><p>IOFFICE*广州保利威座店</p><p class="im">其他预定</p></div>
				<div class="it">
					<div class="tit-n">
						<p>房号</p>
						<p>日期</p>
						<p>时段</p>
						<p>单价（元/小时）</p>
						<p>数量</p>
						<p>金额（元）</p>
						<p>操作</p>
					</div>
					<div class="content">
						<div class='tent'>
							<div class='con'>
								<p>B2401</p>
								<p>2017年7月20日，星期四</p>
								<p>9时、10时、11时</p>
								<p class="c_ff66">50</p>
								<p>3</p>
								<p>150</p>
								<p><a href="javascript:;">删除</a></p>
							</div>
						</div>
					</div>
					<div class='list'>物品清单:老板椅x10、会议桌x1、办公椅x4、投影仪x1、智能电视x1</div>
				</div>
			</div>
			<div class="witem Uniform tlf">
				<div class="tit"><p>IOFFICE*广州保利威座店</p><p class="im">其他预定</p></div>
				<div class="it">
					<div class="tit-n"><p>物品</p> <p>单价</p> <p>数量</p> <p>价格</p> <p>操作</p></div>
					<div class="content">
						<div class='tent'>
							<div class='con'><p>黑白文印</p><p>1.0</p><p>20</p><p class="c_ff66">20</p><p><a href="javascript:;">删除</a></p></div>
							<div class='con'><p>现磨咖啡</p><p>1.0</p><p>20</p><p class="c_ff66">20</p><p><a href="javascript:;">删除</a></p></div>
						</div>
					</div>
				</div>
			</div>

			<div class="altipsyw">
				<span>备注需求:</span><input placeholder="如有其他服务，请备注"></input>
			</div>

			<div class='c_btn' style="margin-bottom: 80px;">立即预定</div>
		</div>
	</div>
	{% include 'front/footer.html' %}
	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	
	<script type="text/javascript" src="../resource/home/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="../resource/home/js/locales/bootstrap-datepicker.zh-CN.min.js" charset="UTF-8"></script>
	<script type="text/javascript">
	    $('.datetimepicker').datepicker({
	        language: "zh-CN"
	    });
	</script>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>
	<script>  
	$(function(){  
	    $(".add").click(function(){  
	    	var t = $(this).parents(".item").find(".quantity");
	        t.val(parseInt(t.val())+1);  
	        $("#min").removeAttr("disabled"); //当按加1时，解除$("#min")不可读状态  
	        setTotal();  
	    })  
	    $(".min").click(function(){
	    	var t = $(this).parents(".item").find(".quantity");
			if (parseInt(t.val())>1) { //判断数量值大于1时才可以减少  
				t.val(parseInt(t.val())-1)  
				}else{  
				$("#min").attr("disabled","disabled")  //当$("#min")为1时，$("#min")不可读状态  
			}  
	        setTotal();  
	    })
	})  
	</script>
	<script>
		function drag() {
		    var obj = $('.sltime');
		    obj.bind('mousedown', start);
		    function start(e) {
		        $(document).bind({
		            'mousemove': move,
		            'mouseup': stop
		            // 'mouseout': leave
		        });
		        $(".sltime .onwor").removeClass("or");
		        return false;
		    }
		    function stop() {
		        $(document).unbind({
		            'mousemove': move,
		            'mouseup': stop
		        });
		        $(".sltime .onwor").unbind();
		        return false;
		    }
		    function move(e) {
				$(".sltime .onwor").mousemove(function(){
					// console.log("aa");
					$(this).addClass("or");
				})
		        return false;
		    }
		    // function leave(e){
		    // 	console.log("aaa");
		    // 	obj.unbind();
		    // 	return false;	
		    // }
		}
		drag();
	</script>