{% include 'front/i_header.html' %}

	<div class="store">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
				{% for index, data in banner.data.rows %}
					<li><!-- <a href="javascript:;"> --><img src="../resource/home/images/ibanner.jpg" alt="{{data.name}}"/><!-- </a> --></li>
				{% endfor %}
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
		<div class="pulmak">
			<div class="container">
				<p>加入<span>IOFFICE</span>生态合作伙伴计划<br>开创新业务获取技术、资源实现更快速成长</p>
			</div>
			<div class="mark"></div>
		</div>


		<div class="container rightimcon">
			<div class="rightim">
				<p class="">深圳 IOFFICE 空间（9）</p>
				<div class="scol">
					<div class="img-box">
						<img src="../resource/home/images/ib1.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
					<div class="img-box">
						<img src="../resource/home/images/ib2.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
					<div class="img-box">
						<img src="../resource/home/images/ib3.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
					<div class="img-box">
						<img src="../resource/home/images/ib1.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
					<div class="img-box">
						<img src="../resource/home/images/ib2.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
					<div class="img-box">
						<img src="../resource/home/images/ib3.png" alt="">
						<div class="info"><p>南山区 泰邦科技大厦</p><div class="mark"></div></div>
					</div>
				</div>
				<div class="mark"></div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="rightfix">
			<div class="online">
				<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
			</div>
			<div class="fixmenu">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
				</ul>
			</div>
		</div>

		<div class="ser iser">
			<div class="tgrid">
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s1.png" alt=""></div>
						<p>经理室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s2.png" alt=""></div>
						<p>独立办公室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s3.png" alt=""></div>
						<p>联合办公工位</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s4.png" alt=""></div>
						<p>会议室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s5.png" alt=""></div>
						<p>会客室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s6.png" alt=""></div>
						<p>物品寄存</p>
					</div>
				</div>
			</div>
			<div class="tgrid">
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb1.png" alt=""></div>
						<p>虚拟办公室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb2.png" alt=""></div>
						<p>地址挂靠</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb3.png" alt=""></div>
						<p>电话秘书</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb4.png" alt=""></div>
						<p>行政文秘</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb5.png" alt=""></div>
						<p>商务支持</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb6.png" alt=""></div>
						<p>更多more</p>
					</div>
				</div>
			</div>
		</div>

		<div class="newtainer">
			<div class="icurtit">
				渠道资源（<span>{{datacom.data.records}}</span>）
				<ul>
					<li class="on">招商渠道</li><li>营销渠道</li><li>分销渠道</li><li>供应渠道</li>
				</ul>
				<a href="#" class="more">更多></a>
			</div>
			<div class="com" id="com">
			{% for index, data in datacom.data.rows %}
				{% if loop.index < 9 %}  
				<div class="item">
					<a href="">
					<div class="img-box">
						<img src="{{data.logo}}" alt="">
						<div class="info">
							<p>{{data.name}}</p>
							<p>{{data.description}}</p>
							<div class="mark"></div>
						</div>
					</div>
					</a>
				</div>
				{% endif %}
			{% endfor %}
			</div>

			<div class="icurtit">
				活动路演（<span>{{dataly.data.records}}</span>）
				<a href="#" class="more">更多></a>
			</div>
			<div class="ly">
				{% for index, data in dataly.data.rows %}
					{% if index == '0' %}
					<div class="item big">
						<a href="">
						<div class="img-box">
							<img src="{{data.thumb}}" alt="">
							<div class="info">
								<p>{{data.title}}</p>
								<div class="mark"></div>
							</div>
						</div>
						</a>
					</div>
					{% endif %}
				{% endfor %}
				<div class="itemr">
				{% for index, data in dataly.data.rows %}
					{% if index != '0' %}
						{% if loop.index < 6 %}  
						<div class="item big sm">
							<a href="">
							<div class="img-box">
								<img src="{{data.thumb}}" alt="">
								<div class="info">
									<p>{{data.title}}</p>
									<div class="mark"></div>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</div>
                <div id="summary"></div>
			</div>

			<div class="icurtit">
				优质项目（<span>{{datayz.data.records}}</span>）
				<a href="#" class="more">更多></a>
			</div>
			<div class="yz">
				{% for index, data in datayz.data.rows %}
					{% if loop.index < 7 %}  
					<div class=item>
		                <a href=#>
			                <div class=img-box>
				                <img src="{{data.logo}}" alt=''>
				                <div class=info>
				                    <p>{{data.name}}</p>
				                    <div class=mark></div>
				                </div>
			                </div>
		                </a>
	                </div>
	                {% endif %}
				{% endfor %}
			</div>

			<div class="icurtit">
				加入会员可获资源
			</div>
			<div class="static">
				<div class="item">
					<p>{{resource.data.channelTotal}}</p>
					<p>渠道服务商</p>
				</div>
				<div class="item">
					<p>{{resource.data.finTotal}}</p>
					<p>融资服务商</p>
				</div>
				<div class="item">
					<p>{{resource.data.billTotal}}</p>
					<p>贷款服务商</p>
				</div>
				<div class="item">
					<p>{{resource.data.servivceTotal}}</p>
					<p>企服服务商</p>
				</div>
				<div class="item">
					<p>{{resource.data.spaceTotal}}</p>
					<p>空间服务</p>
				</div>
				<div class="item">
					<p>{{resource.data.instustryTotal}}</p>
					<p>行业资源</p>
				</div>
			</div>
			<a href="" class="stabtn">立即加入</a>

			<div class="icurtit">
				伙伴空间（<span>2300</span>）
			</div>
			<div class="hb">
				<div class="item">
					<a href="">
					<div class="img-box">
						<img src="../resource/home/images/628.png" alt="">
						<div class="info">
							<p>优客办公 共享空间办公</p>
							<div class="mark"></div>
						</div>
					</div>
					</a>
					<div class="title">优客广场<i>白金卡9折</i></div>
					<p class="wor">广州天河区民族广场泰邦大厦45层</p>
					<p class="wor"><span>办公室（24间）</span><span>办公室（24间）</span></p>
					<p><a href="">加入会员</a><a href="">空间预定</a></p>
				</div>
				<div class="item">
					<a href="">
					<div class="img-box">
						<img src="../resource/home/images/629.png" alt="">
						<div class="info">
							<p>优客办公 共享空间办公</p>
							<div class="mark"></div>
						</div>
					</div>
					</a>
					<div class="title">优客广场<i>白金卡9折</i></div>
					<p class="wor">广州天河区民族广场泰邦大厦45层</p>
					<p class="wor"><span>办公室（24间）</span><span>办公室（24间）</span></p>
					<p><a href="">加入会员</a><a href="">空间预定</a></p>
				</div>
				<div class="item">
					<a href="">
					<div class="img-box">
						<img src="../resource/home/images/628.png" alt="">
						<div class="info">
							<p>优客办公 共享空间办公</p>
							<div class="mark"></div>
						</div>
					</div>
					</a>
					<div class="title">优客广场<i>白金卡9折</i></div>
					<p class="wor">广州天河区民族广场泰邦大厦45层</p>
					<p class="wor"><span>办公室（24间）</span><span>办公室（24间）</span></p>
					<p><a href="">加入会员</a><a href="">空间预定</a></p>
				</div>
			</div>
		</div>
	</div>
	{% include 'front/footer.html' %}
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>
