{% include 'front/i_header.html' %}

	<div class="iml-banner"><img src="../resource/home/images/iml_t1.png"></div>
	<div class="iml-ul">
		
	</div>

	<div class="iml-content">
		<div class="container-1200">
			<div class="row">
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1202.jpg">
						<p class="iml-card_title">深圳大农背集团</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1213.jpg">
						<p class="iml-card_title">北京瑞力投资有限公司</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1214.jpg">
						<p class="iml-card_title">深圳大农背集团</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1215.jpg">
						<p class="iml-card_title">北京瑞力投资有限公司</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1216.jpg">
						<p class="iml-card_title">深圳大农背集团</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="iml-card">
						<img src="../resource/home/images/1217.jpg">
						<p class="iml-card_title">北京瑞力投资有限公司</p>
						<p class="iml-card_fw">企业服务</p>
						<p class="iml-card_content">海汇空间商务中心配备完善，设施高档，布局严谨专 <br>业，支持本地商务服务多元化，让有意在国内发展的 <br>企业可专注入业务发展，无需高昂资金投入即可享受 <br>完美的办公空间</p>
						<p class="iml-card_fz">分支机构</p>
						<ul class="iml-card_dd">
							<li>北京</li>
							<li>上海</li>
							<li>深圳</li>
							<li>南京</li>
							<li>东莞</li>
							<li>成都</li>
							<li>重庆</li>
							<li>武汉</li>
							<li>广州</li>
						</ul>
					</div>
				</div>
			</div>
			<nav class="iml-page" aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#">
			        <span aria-hidden="true">首页</span>
			      </a>
			    </li>
			    <li><a href="#" class="active">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li><span href="#" class="fy-slh">...</span></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#">
			        <span aria-hidden="true">上一页</span>
			      </a>
			    </li>
			    <li>
			      <a href="#">
			        <span aria-hidden="true">下一页</span>
			      </a>
			    </li>
			    <li class="fy-cn1">到第</li>
			    <li class="fy-ip"><input type='text' onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" /></li>
			    <li class="fy-cn2">页</li>
			    <li>
			      <a href="#">
			        <span aria-hidden="true">确定</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
	
	{% include 'front/footer.html' %}
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>