{% include 'front/i_header.html' %}

	<div class="store">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>

	<div class="fixtainer container">
		<div class="rightfix">
			<div class="online">
				<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
			</div>
			<div class="fixmenu">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
				</ul>
			</div>
		</div>

		<div class="miantainer">
			<div class="sttit">IOFFICE·广州保利威座店</div>
			<p class="stdes">IOFFICE广州保利威酒座大厦位于广州CBD顶级商务地标——广州保利威座中心8层，地处珠江新城的核心金融商务区、城市新中轴线上。本项目提供超高性价比企业办公解决方案精装修独立办公空间，配有前台及接待厅、商务会议室、沙龙路演区、洽谈区等公共配套，为企业提供定制化办公空间及高端企业服务。</p>

			<div class="sto-a">
				<div class="row">
					<div class="col-md-6">
						<div class="sto-alo"></div>
						<p class="sto-aman">运营人员</p>
						<div class="sto-people">
							<div class="bd">
								<ul>
									<div class="sto-ywry">
										<img src="../resource/home/images/sto-t1.png" alt="">
										<p class="sto-jl">黄经理  <span>(招商经理）</span></p>
										<p>联系电话：020-35806008</p>
										<p>邮箱地址：zhz415@iwspace.com</p>
									</div>
									<div class="sto-ywry">
										<img src="../resource/home/images/sto-t1.png" alt="">
										<p class="sto-jl">黄经理  <span>(招商经理）</span></p>
										<p>联系电话：020-35806008</p>
										<p>邮箱地址：zhz415@iwspace.com</p>
									</div>
									<div class="sto-ywry">
										<img src="../resource/home/images/sto-t1.png" alt="">
										<p class="sto-jl">黄经理  <span>(招商经理）</span></p>
										<p>联系电话：020-35806008</p>
										<p>邮箱地址：zhz415@iwspace.com</p>
									</div>
									<div class="sto-ywry">
										<img src="../resource/home/images/sto-t1.png" alt="">
										<p class="sto-jl">黄经理  <span>(招商经理）</span></p>
										<p>联系电话：020-35806008</p>
										<p>邮箱地址：zhz415@iwspace.com</p>
									</div>
								</ul>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="sto-alo"></div>
						<p class="sto-location">空间位置</p>
						<i class="material-icons sto-lc_i">location_on</i>
						<span class="sto-xqdz">广州珠江新城金穗路1号保利威座北塔24-25层</span>
						<img class="sto-lcimg" src="../resource/home/images/sto-t2.png" alt="">
					</div>
				</div>
			</div>
			<div class="sto-b">
				<div class="sto-alo"></div>
				<p class="sto-service">空间服务</p>
				<p class="sto-service_title">场地办公服务</p>
				<div class="row">
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">经理室</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 400</span>/单元(4小时)
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">会客室</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 50</span>/4小时
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">独立办公室</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/单元(4小时)
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">会议室</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 100</span>/小时
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">移动办公工位</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 100</span>/单元(4小时)
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">物品寄存</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 10</span>/小格/一天<br>
								<span>¥ 15</span>/中格/一天<br>
								<span>¥ 20</span>/大格/一天
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgkst20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">固定办公工位</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 100</span>/单元(4小时)
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
				</div>
				<p class="sto-service_title">虚拟办公服务</p>
				<div class="row">
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">虚拟办公室</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>起
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即选购</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">商务支持</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 1500</span>/月 <span>200</span>/次
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">地址注册</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">电话秘书</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">电话秘书</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">飞线转接</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">行政文秘</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 dsgksb20">
						<div class="row sto-service_con">
							<div class="col-md-4">
								<p class="sto-service_left">代发招聘信息</p>
								<i class="material-icons" data-toggle="tooltip" data-placement="bottom" title="这是一条非常详细的信息">error_outline</i>
							</div>
							<div class="col-md-4 sto-price">
								<span>¥ 200</span>/职/月
							</div>
							<div class="col-md-4">
								<button class="btn btn-default sto-btxd" type="submit">立即下单</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sto-c">
				<div class="sto-alo"></div>
				<p class="sto-round">周边设施</p>
				<ul class="sto-round_ul">
					<li>交通银行</li>
					<li>农业银行</li>
					<li>鸿姓海鲜酒家</li>
					<li>南海渔村</li>
					<li>索特来酒店</li>
					<li>广州w酒店</li>
					<li>联华超市</li>
					<li>华润万家</li>
				</ul>
			</div>
			<div class="sto-d">
				<div class="sto-alo"></div>
				<p class="sto-center">中心配套</p>
				<ul class="sto-center_ul">
					<li>消防</li>
					<li>宽带</li>
					<li>空调</li>
					<li>饮水</li>
					<li>冰箱</li>
					<li>打印机</li>
					<li>复印机</li>
					<li>传真机</li>
					<li>微波炉</li>
					<li>会议室</li>
					<li>前台</li>
					<li>办公家私</li>
					<li>电子门禁</li>
					<li>智能电话</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="sto-e">
		<div class="sto-alo"></div>
		<p class="sto-company">入驻企业<a href="#" class="more" style="margin-top: 0;">更多></a></p>
		<div class="com sto-com">
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c1.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c4.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c5.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c6.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c7.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
				<div class="img-box">
					<img src="../resource/home/images/c8.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
				</a>
			</div>
			<div class="item">
				<a href="">
					<div class="img-box">
						<img src="../resource/home/images/c1.png" alt="">
						<div class="info">
							<p>中国石油集团天然气集团公司</p>
							<p>企业类型：石油化工</p>
							<div class="mark"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="">
					<div class="img-box">
						<img src="../resource/home/images/c1.png" alt="">
						<div class="info">
							<p>中国石油集团天然气集团公司</p>
							<p>企业类型：石油化工</p>
							<div class="mark"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="">
					<div class="img-box">
						<img src="../resource/home/images/c1.png" alt="">
						<div class="info">
							<p>中国石油集团天然气集团公司</p>
							<p>企业类型：石油化工</p>
							<div class="mark"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="">
					<div class="img-box">
						<img src="../resource/home/images/c1.png" alt="">
						<div class="info">
							<p>中国石油集团天然气集团公司</p>
							<p>企业类型：石油化工</p>
							<div class="mark"></div>
						</div>
					</div>
				</a>
			</div>
			<div class="item">
				<a href="">
					<div class="img-box">
						<img src="../resource/home/images/c1.png" alt="">
						<div class="info">
							<p>中国石油集团天然气集团公司</p>
							<p>企业类型：石油化工</p>
							<div class="mark"></div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="icurtit">
			加入会员可获资源
		</div>
		<div class="static">
			<div class="item">
				<p>7486</p>
				<p>渠道服务商</p>
			</div>
			<div class="item">
				<p>386</p>
				<p>融资服务商</p>
			</div>
			<div class="item">
				<p>37086</p>
				<p>贷款服务商</p>
			</div>
			<div class="item">
				<p>7486</p>
				<p>企服服务商</p>
			</div>
			<div class="item">
				<p>486</p>
				<p>空间服务</p>
			</div>
			<div class="item">
				<p>453486</p>
				<p>行业资源</p>
			</div>
		</div>
		<a href="" class="stabtn">立即加入</a>

	</div>
	<div class="sto-e sto-f">
		<div class="sto-alo"></div>
		<p class="sto-company">周边服务<a href="#" class="more" style="margin-top: 0;">更多></a></p>
		<div class="row">
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="sto-rsverbk">
					<img src="../resource/home/images/sto-t3.png" alt="">
					<div class="info">
						<p>中国石油集团天然气集团公司</p>
						<p>企业类型：石油化工</p>
						<div class="mark"></div>
					</div>
				</div>
			</a>
		</div>
	</div>
	{% include 'front/footer.html' %}
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>