{% include 'front/i_header.html' %}

	<div class="isf-main">
		<div class="zcontainer company">
			<div class="rightfix">
				<div class="online">
					<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
				</div>
				<div class="fixmenu">
					<ul>
						<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
						<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
						<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
						<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
					</ul>
				</div>
			</div>
			<div class="isf-breadcrumbs ">
				<span><a href="">IOFFICE ></a></span><span><a href=""> 广州保利威座店 ></a></span><span> 订单详情</span>
			</div>
			<div class="wtit">
				<p>订单状态：<span>待支付</span></p>
				<p>下单时间：2017-07-24</p>
			</div>
			<div class="witem">
				<div class="tit"><p>IOFFICE*广州保利威座店</p><p class="im">经理室预定</p><p></p><p></p><p>订单号：2017072415489</p></div>
				<div class="it">
					<div class="tit-n"><p>房号</p> <p>日期</p> <p>时段</p> <p>单价（元/小时）</p> <p>数量 </p><p>金额（元）</p></div>
					<div class="content">
						<div class="num"><p>M2402</p></div>
						<div class='tent'>
							<div class='con'><p>2017年7月20日，星期四</p><p>14:00-18:00</p><p>400</p><p>1</p><p class="c_ff66">400</p></div>
							<div class='con'><p>2017年7月20日，星期四</p><p>14:00-18:00</p><p>400</p><p>1</p><p class="c_ff66">400</p></div>
						</div>
					</div>
					<div class='list'>物品清单:办公桌x2、办公椅x4、智能电话x1</div>
				</div>
				<div class='pay'><p>订单金额：<span class='c_ff66'>￥2000</span></p>    <p>优惠券：无可用</p>    <p>实付款：<span class='c_ff66'>￥1998</span></p></div>
			</div>
			

			<div class="pay_p">
				<p>应付总额：<span class="c_ff66">￥521</span></p>
				<p>消费可获得积分：<span class="c_ff66">521</span></p>
			</div>
			<div class='pay_t'><p>付款方式：</p><p>（如需开票，请使用对公转账）</p></div>
			<div class='pay_type'>
				<div class="zitem ck"><img src="../resource/home/images/sb6.png" alt=""><p>至尊卡（<span>余额 </span><span class='c_ff66'>¥ 80.34</span>  <span class='c_4373'>充值</span>）</p>
				<div class='sjx checked'><i class="material-icons">done</i></div></div>
				<div class="zitem"><img src="../resource/home/images/sb6.png" alt=""><p>至尊卡（<span>可用余额 </span><span class='c_ff66'>¥ 5664</span>）</p>
					<div class='sjx'><i class="material-icons">done</i></div></div>
			</div>
			<div class='read'><p class='to yes'><i class="material-icons">done</i></p>我已阅读<span class='c_4373'>《全网通会员卡使用说明》</span>并同意<span class='c_4373'>《全网通会员卡购买及使用协议》</span></div>

			<div class='c_btn'>立即支付</div>
		</div>
	</div>

	{% include 'front/footer.html' %}
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		$('.zitem').click(function(){
			$('.zitem').find('.checked').removeClass('checked');
			$('.ck').removeClass('ck');
			$(this).addClass("ck");
			$(this).children('.sjx').addClass("checked");
		});
		$('.to').click(function(){
			$('.to').toggleClass('no');
		})
	</script>