{% include 'front/i_header.html' %}

	<div class="isf-main">
		<div class="container">
			<div class="isf-breadcrumbs">
				<span><a href="">IOFFICE ></a></span><span><a href=""> 广州保利威座店 ></a></span><span> 订单详情</span>
			</div>

			<div class="isf-content">
				<img src="../resource/home/images/isf-tp1.png" alt="">
				<span>您已经付款成功</span>
				<p>系统已经通知相关工作人员，稍后将有会工作人员与您取得联系。请保持通信畅通。如有疑问请致电400-822-3230</p>
				<button class="btn btn-default" type="submit">查看详情</button>
			</div>
		</div>
	</div>
	{% include 'front/footer.html' %}
	
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>