{% include 'front/i_header.html' %}

	<div class="container">
		<div class="isf-main">
			<div class="isf-breadcrumbs">
				<span><a href="">IOFFICE ></a></span><span><a href=""> 广州保利威座店 ></a></span><span> 订单详情</span>
			</div>
		</div>
		<div class="company alcompany">
			<div class="witem Uniform tlf">
				<form action="">
					<div class="tit"><p>IOFFICE*广州保利威座店</p><p class="im">其他预定</p></div>
					<div class="it">
						<div class="tit-n"><p>服务项</p> <p>服务内容</p> <p>单价</p> <p>服务时间</p> <p>金额（元）</p></div>
						<div class="content">
							<div class='tent'>
								<div class='con' for="tifdio1">
									<input type="radio" name="tifdio">
									<p class="ti">电话秘书</p>
									<p class="text-left cl6">为入驻企业提供场地电话代接、转告、场内转接服务</p>
									<p class="cl6 tir">180元/月</p>
									<div>
										<div class="calepicker">
											<i></i><span>2017-07</span>
										</div><span class="cc-r">----</span>
										<div class="calepicker">
											<i></i><span>2018- 12</span>
										</div>
									</div>
									<p class="c_ff66">1080</p>
								</div>
								<div class='con'>
									<input type="radio" name="tifdio">
									<p class="ti">电话秘书</p>
									<p class="text-left cl6">为入驻企业提供场地电话代接、转告、场内转接服务</p>
									<p class="cl6 tir">180元/月</p>
									<div>
										<div class="calepicker">
											<i></i><span>2017-07</span>
										</div><span class="cc-r">----</span>
										<div class="calepicker">
											<i></i><span>2018- 12</span>
										</div>
									</div>
									<p class="c_ff66">1080</p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class='c_btn'>立即预定</div>
			<p class="altk">
				<input type="checkbox" id="altk">
				<label for="altk">同意<a href="">《虚拟办公服务购买及使用协议》</a></label>
			</p>
		</div>
	</div>
	{% include 'front/footer.html' %}
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>