{% include 'front/q_header.html' %}

  <div class="qml-banner">
		<img src="../resource/home/images/qml-t1.png">
		<p class="qml-banner-pa">专业企服&nbsp;&nbsp;&nbsp;&nbsp;值得信赖</p>
		<p class="qml-banner-pb">WE PROVE THE PROFESSIONAL ENTERPRISE SERVICE</p>
	</div>
	<div class="hbo-sj" style="margin-top: 60px;">
		<div class="hbo-sj-container">
			<div><span class="hbo-sja">全部商机(25642) > </span><span class="hbo-sja">共有254个</span></div>
			<div class="hbo-sxtj">
				<p>筛选条件:</p>
				<div class="hbo-sxtj_dzsw">电子商务</div>
				<a href="" class="hbo-sxtj_dzswa"><i class="material-icons">clear</i></a>
				<div class="hbo-sxtj-ss">
					<i class="material-icons">search</i>
					<input type="text" placeholder="在当前条件下搜索">
				</div>
				<div class="hbo-sxtj-xx"></div>
				<ul class="qml-sxtj-ula">
					<li><a href="">全部</a></li>
					<li><a href="">专业培训</a></li>
					<li><a href="" class="active">IT培训</a></li>
					<li><a href="">视觉设计</a></li>
					<li><a href="">政策解读</a></li>
					<li><a href="">法律服务</a></li>
				</ul>
				<ul class="qml-sxtj-ulb">
					<li><a href="" class="active">全部</a></li>
					<li><a href="">企业培训</a></li>
					<li><a href="">创业培训</a></li>
					<li><a href="">融资培训</a></li>
				</ul>
				<ul class="qml-sxtj-ulc">
					<li><a href="" class="active">全国</a></li>
					<li><a href="">北京</a></li>
					<li><a href="">上海</a></li>
					<li><a href="">广州</a></li>
					<li><a href="">深圳</a></li>
				</ul>
				<a class="btn btn-primary hbo-sxtj-v3" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">更多城市<i class="material-icons">keyboard_arrow_down</i>	</a>
				<div class="collapse" id="collapseExample">
				  <div class="well"><span>全国各地</span><span>全国各地</span><span>全国各地</span><span>全国各地</span><span>全国各地</span><span>全国各地</span></div>
				</div>
			</div>
		</div>
	</div>

	<div class="hti-main">
		<div class="hti-container">
			<div class="row">
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons">star</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="hti-card">
						<div class="htiin-">
							<img src="../resource/home/images/hti-t1.png">
							<p class="hti-card-pa">灵狐传媒</p>
							<p class="hti-card-pb">资源 | 技术 | 效率</p>
							<div class="hti-card-bl">
								<i class="material-icons">location_on</i><p>深圳 、广州、长沙  ···</p>
							</div>
							<div class="hti-card-br">
								<i class="material-icons">remove_red_eye</i><p>259810</p>
							</div>
							<i class="htistar material-icons sbd">star_border</i>
						</div>
						<div class="hti-card-wmb">
							<div class="wx-dfx">
								<p>完成质量</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>服务态度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="wx-dfx">
								<p>工作速度</p>
								<div class="rateYo"></div><div class="counter">4.7</div><span>分</span>
							</div>
							<div class="hti-card-xmb"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="hbo-div-gif"><img src="../resource/home/images/giphy.gif" class="hbo-gif" alt=""></div>
		</div>
	</div>


	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	{% include 'front/footer.html' %}
	
	<script src="../resource/home/js/jquery-1.11.3.min.js"></script>
	<script src="../resource/home/js/bootstrap.min.js"></script>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<link href="../resource/home/js/rateyo/jquery.rateyo.min.css" rel="stylesheet">
	<script src="../resource/home/js/rateyo/jquery.rateyo.min.js"></script>

	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
	</script>
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		  $(".rateYo").rateYo({
		    rating: 4.7,
		    precision: 2,
		    starWidth: "16px",
		    spacing: "3px",
		    readOnly: true,
		    onChange: function (rating, rateYoInstance) {
				$(this).next().text(rating);
		    }
		  });
		 
		});
	</script>
</body>
</html>