{% include 'front/q_header.html' %}

  <div class="qfb-main">
  	<div class="qfb-container">
  		<div class="q-qfb-breadcrumbs">
				<a href="">专业企服 </a>><a href=""> 快法务 </a>> 快法务公司详情 
			</div>
			<div class="qfb-top-left">
				<p class="qfb-top-left_a">企业代理记账</p>
				<p class="qfb-top-left_b">市&nbsp;&nbsp;场&nbsp;&nbsp;价 : <span>￥500.00</span></p>
				<p class="qfb-top-left_c">会&nbsp;&nbsp;员&nbsp;&nbsp;价 : <span>￥460.00</span></p>
				<p class="qfb-top-left_d">服务范围 : <span>全国</span></p>
				<p class="qfb-top-left_e">优&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;势 : <span>免费上门</span><span>免费设计</span><span>专业</span></p>
				<button class="btn btn-default" type="submit">申请服务</button>
				<ul class="qfb-top-left_ula">
					<li class="qfb-top-left_lia">联系我们：</li>
					<li><a href=""><img src="../resource/home/images/qfb-t1.png">电话咨询</a></li>
					<li><a href=""><img src="../resource/home/images/qfb-t2.png">QQ咨询</a></li>
				</ul>
				<ul class="qfb-top-left_ulb">
					<li class="qfb-top-left_lia">承诺服务：</li>
					<li><a href=""><img src="../resource/home/images/qfb-t3.png">提供上门服务</a></li>
					<li><a href=""><img src="../resource/home/images/qfb-t4.png">专属客服设计</a></li>
					<li><a href=""><img src="../resource/home/images/qfb-t5.png">服务质量承诺</a></li>
					<li><a href=""><img src="../resource/home/images/qfb-t6.png">可开发票</a></li>
				</ul>
			</div>
			<div class="qfb-top-col"></div>
			<div class="qfb-top-right">
				<img src="../resource/home/images/qfb-t7.png">
				<div class="qfb-top-right-tpp">
					<p>快记账</p>
					<p>查看服务商详情 ></p>
				</div>
				<div class="row m-t-200">
					<div class="col-md-3 qfb-wsqsg">
						<p>完成质量</p>
						<p>4.7分</p>
					</div>
					<div class="col-md-3 qfb-wsqsg">
						<p>服务态度</p>
						<p>4.7分</p>
					</div>
					<div class="col-md-3 qfb-wsqsg">
						<p>工作速度</p>
						<p>4.7分</p>
					</div>
					<div class="col-md-3 qfb-wsdsg">
						<p>点击量</p>
						<p>2546</p>
					</div>
				</div>
				<div class="qfb-top-right_an">
					<a href=""><i class="material-icons">share</i><p class="qfb-top-right_paaa">分享</p></a>
					<a href=""><i class="material-icons">star_border</i><p class="qfb-top-right_paaa">收藏(2)</p></a>
					<a href="" class="qfb-top-right_pbbb"><i class="material-icons">error_outline</i><p>举报</p></a>
				</div>
				<div class="qfb-top-right-hr"></div>
				<div class="row qfb-top-right-last">
					<p class="col-md-3">公司简介：</p>
					<p class="col-md-9">小规模企业代理记账</p>
					<p class="col-md-3">业务介绍：</p>
					<p class="col-md-9">资深会计师一对一服务，向小规模企业提供包括财务核算、税务申报等服务...</p>
					<p class="col-md-3">官网：</p>
					<p class="col-md-9">https://www.superjz.com</p>
				</div>
			</div>
  	</div>
  </div>

  <div class="qfb-bmain">
  	<div class="qfb-container">
  		<div class="qfb-bmain-left">
  			<p>服务详情：</p>
  			<img class="m-t-40" src="../resource/home/images/qfb-t8.png">
  			<p class="m-t-40">更多服务</p>
  			<div class="row qfb-gdfw">
  				<div class="col-md-3">
  					<div class="qfb-card">
  						<img src="../resource/home/images/qfb-t9.png">
  						<p>工商年报</p>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="qfb-card">
  						<img src="../resource/home/images/qfb-t9.png">
  						<p>税控申请</p>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="qfb-card">
  						<img src="../resource/home/images/qfb-t9.png">
  						<p>外资公司变更</p>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="qfb-card">
  						<img src="../resource/home/images/qfb-t9.png">
  						<p>公司起名</p>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="qfb-bmain-right">
  			<p class="qfb-bmain-right-pa">成为会员： </p>
  			<div class="qfb-hy-card">
  				<img src="../resource/home/images/qfb-t10.png">
  				<p class="qfb-bmain-right-paa">加入海脉会员<br>享受优惠服务</p>
  			</div>
  			<p class="qfb-bmain-right-pb">平台保障： </p>
  			<div class="qfb-pt-card">
  				<img src="../resource/home/images/qfb-t11.png">
  				<p class="qfb-bmain-right-pba">商家资质认证</p>
  				<p class="qfb-bmain-right-pbb">严筛服务商，提供品质保证</p>
  				<div class="qfb-bmain-right-hr"></div>
  				<img src="../resource/home/images/qfb-t12.png">
  				<p class="qfb-bmain-right-pbc">商家资质认证</p>
  				<p class="qfb-bmain-right-pbd">严筛服务商，提供品质保证</p>
  				<div class="qfb-bmain-right-hr"></div>
  				<img src="../resource/home/images/qfb-t13.png">
  				<p class="qfb-bmain-right-pbc">商家资质认证</p>
  				<p class="qfb-bmain-right-pbd">严筛服务商，提供品质保证</p>
  			</div>
  		</div>
  	</div>
  </div>

	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	{% include 'front/footer.html' %}
	
	<script src="../resource/home/js/jquery-1.11.3.min.js"></script>
	<script src="../resource/home/js/bootstrap.min.js"></script>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
</body>
</html>