{% include 'front/q_header.html' %}

  <div class="qsi-banner">
  	<img src="../resource/home/images/qsi-t1.png" class="qsi-bjimg">
  	<div class="qsi-tcontainer">
  		<div class="qsi-td-breadcrumbs"> <a href="">海脉汇 </a>><a href=""> 商机汇 </a> > 大疆无人机 </div>
  		<img src="../resource/home/images/qsi-t2.png" class="qsi-banner-img">
  		<p class="qsi-banner-pa">快记账</p>
  		<p class="qsi-banner-pb">小规模企业代理记账</p>
  		<p class="qsi-banner-pc">官网：https://www.superjz.com</p>
  	</div>
  </div>

  <div class="qsi-main">
		<ul class="qsi-bdh">
	  	<div class="qsi-container">
	  			<a href="" class="active"><li>核心产品</li></a>
	  			<a href=""><li>企业介绍</li></a>
	  	</div>
  	</ul>
  	<div class="qsi-container">
  		<div class="qsi-sfq">
  			<div class="qsi-sfqaa">
  				所有产品<i class="material-icons">list</i>
  			</div>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          专业企服
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <a href=""><div class="list-group">专业培训</div></a>
				      <a href="" class="active"><div class="list-group">创业培训</div></a>
				      <a href=""><div class="list-group">创业培训</div></a>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				          技能宝
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <a href=""><div class="list-group">专业培训</div></a>
				      <a href="" class="active"><div class="list-group">创业培训</div></a>
				      <a href=""><div class="list-group">创业培训</div></a>
				    </div>
				  </div>
				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				          IT培训
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <a href=""><div class="list-group">专业培训</div></a>
				      <a href="" class="active"><div class="list-group">创业培训</div></a>
				      <a href=""><div class="list-group">创业培训</div></a>
				    </div>
				  </div>
				</div>
  		</div>
  		<div class="qsi-r-all">
  			<div class="row">
  				<div class="col-md-4">
  					<div class="qsi-r-card">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="qsi-r-card">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="qsi-r-card">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="qsi-r-card m-t-20">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="qsi-r-card m-t-20">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  				<div class="col-md-4">
  					<div class="qsi-r-card m-t-20">
  						<p>商标注册</p>
  						<p>品牌资产</p>
  						<p>注册之后才能受法律保护</p>
  						<img src="../resource/home/images/qsi-t3.png">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>

	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	{% include 'front/footer.html' %}
	
	<script src="../resource/home/js/jquery-1.11.3.min.js"></script>
	<script src="../resource/home/js/bootstrap.min.js"></script>
	<script src="../resource/home/js/jquery.SuperSlide.js"></script>
	<link href="../resource/home/js/rateyo/jquery.rateyo.min.css" rel="stylesheet">
	<script src="../resource/home/js/rateyo/jquery.rateyo.min.js"></script>

	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
	</script>
	<script>
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip();
		  $(".rateYo").rateYo({
		    rating: 4.7,
		    precision: 2,
		    starWidth: "16px",
		    spacing: "3px",
		    readOnly: true,
		    onChange: function (rating, rateYoInstance) {
				$(this).next().text(rating);
		    }
		  });
		 
		});
	</script>
</body>
</html>