<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fonts/material-icons.css">
	<link rel="stylesheet" href="css/ioffice.css">
	<link rel="stylesheet" href="css/tyle.css">
</head>
<body>
	<div class="store h-bo-banner">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					<li><a href="javascript:;"><img src="./../resource/home/images/hbo-t1.png" /></a></li>
					<li><a href="javascript:;"><img src="./../resource/home/images/hbo-t1.png" /></a></li>
					<li><a href="javascript:;"><img src="./../resource/home/images/hbo-t1.png" /></a></li>
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>

	<div class="hbo-sj">
		<div class="hbo-sj-container">
			<div><span class="hbo-sja">全部商机(25642) > </span><span class="hbo-sja">共有254个</span></div>
			<div class="hbo-sxtj">
				<p>筛选条件:</p>
				<div class="hbo-sxtj_dzsw">电子商务</div>
				<a href=""><i class="material-icons">clear</i></a>
				<div class="hbo-sxtj_ss">
					<i class="material-icons">search</i>
					<input type="text" class="form-control hbo-form_control">
				</div>
				

	<div class="fixtainer container">
		<div class="rightfix">
			<div class="online">
				<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
			</div>
			<div class="fixmenu">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="footer">
		<div class="container">
			<div class="c1">
				<img src="../resource/home/images/1184.png" alt="">
				<p class="sm">免费服务热线：</p>
				<p class="big">400-822-3230</p>
				<ul>
					<li><span style="letter-spacing: 6px;">投诉电话</span>：0755-83125978</li>
					<li><span>周一到周六</span>：09:00-18:00</li>
					<li><span>邮&#233888;&#233888;&#233888;箱</span>：hmkf@hmkj.com</li>  
					<li><span>传&#233888;&#233888;&#233888;真</span>：0755-83125978</li>
				</ul>
			</div>
			<div class="list">
				<ul>
					<li>关于我们</li>
					<li><a href="">海脉介绍</a></li>
					<li><a href="">加入海脉</a></li>
					<li><a href="">海脉资讯</a></li>
					<li><a href="">海脉团队</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">海脉公告</a></li>
				</ul>
				<ul>
					<li>商务合作</li>
					<li><a href="">媒体合作</a></li>
					<li><a href="">空间合作</a></li>
					<li><a href="">资源合作</a></li>
					<li><a href="">活动合作</a></li>
					<li><a href="">代理合作</a></li>
				</ul>
				<ul>
					<li>隐私政策</li>
					<li><a href="">会员政策</a></li>
					<li><a href="">入驻公约</a></li>
					<li><a href="">会员卡政策</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li><a href="">空间地图</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">服务手册</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">意见反馈</a></li>
				</ul>
				<div class="line"></div>
				<p>总部地址： 深圳市南山区高新南六道16号泰邦科技大厦18楼</p>
			</div>
			<div class="ewm">
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>Android版下载</p>
				</div>
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>ios下载</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fbottom">
		<img src="../resource/home/images/1195.png" alt="">
		<p> Copyright © 海脉空间（深圳）有限公司（www.haimaikongjian.com）版权所有 | ICP经营许可证：粤B2-20130239</p>
	</div>
	
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.SuperSlide.js"></script>
	<script>
		jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
		jQuery(".sto-people").slide({mainCell:".bd ul",effect:"top",autoPlay:true,vis:2});
		$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	</script>
</body>
</html>