<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fonts/material-icons.css">
	<link rel="stylesheet" href="css/ioffice.css">
	<link rel="stylesheet" href="css/tyle.css">
</head>
<body style="background-color: #f9f9f9;">
	<div class="h-header">
		<div class="htop">
			<div class="newtainer">
				<div class="h-hl">
					<a href="#">返回海脉空间首页</a>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    转到其它站点 <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Action</a></li>
					    <li><a href="#">Another action</a></li>
					  </ul>
					</div>
					<p class="rxph">24小时免费拨打热线：<span>400-822-3230</span></p>
				</div>
				<div class="pull-right h-hr">
					<p class="tupis">我有资源，立即入驻海脉汇</p>
					<div class="lca"><i class="material-icons">location_on</i>深圳</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    中文站 <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">英文</a></li>
					    <li><a href="#">繁体</a></li>
					  </ul>
					</div>
					<div class="ls">
						<a href="#">登陆</a>
						<a href="#">注册</a>
					</div>
				</div>
			</div>
		</div>
		<div class="maher">
			<div class="newtainer">
				<div class="blogo"><img src="../resource/home/images/blogo.png" alt=""></div>
				<span>专业的企业综合服务平台</span>
				<div class="sear-ch">
					<input type="text">
					<div class="sear-chicons"><i class="material-icons">search</i></div>
				</div>
			</div>
		</div>
		<div class="h-nav">
			<div class="newtainer">
				<ul>
					<li><a href="">首页</a></li>
					<li class="active"><a href="">渠速拓</a></li>	
					<li><a href="">创业汇</a></li>
					<li><a href="">商机汇</a></li>
					<li><a href="">渠道学院</a></li>
				</ul>
				<div class="hncact"><img src="../resource/home/images/bhphone.png" alt="">400-822-3230</div>
				<a href="" class="hnjoin">立即入驻</a>
			</div>
		</div>
	</div>

	<div class="container1200">
		<div class="h-ccv-breadcrumbs">
			<a href="">海脉汇 </a>><a href=""> 渠速拓 </a>><a href=""> 渠道资源 </a> > 大疆无人机
		</div>
		<div class="h-ccv-left">
			<div class="h-ccv-lt">
				<img src="./../resource/home/images/hcvv-t1.png">
				<div class="h-ccv-imgr">
					<p class="h-ccv-imgra">DJI大疆创新</p>
					<p class="h-ccv-imgrb">未来，无所不能</p>
					<ul class="h-ccv-ul">
						<li>资源</li>
						<li>技术</li>
						<li>效率</li>
					</ul>
				</div>
				<div class="h-ccv-zd">
					<i class="material-icons">location_on</i>
					<p class="h-ccv-place">北京 · 北京分公司</p>
					<p class="h-ccv-placea">地址：北京市朝阳区建国路 93 号万达广场 A 座 23 层</p>
					<p class="h-ccv-placea">电话：010-65810066-26003</p>
				</div>
				<div class="h-ccv-zds">
					<i class="material-icons">location_on</i>
					<p class="h-ccv-place">广东省 · 深圳办事处</p>
					<p class="h-ccv-placea">地址：深圳市南山区高新技术园区科技南十二路迈瑞总部大厦 26 层</p>
					<p class="h-ccv-placea">电话：0755-81886706   81886785</p>
					<p class="h-ccv-placea">传真：0755-81886774</p>
				</div>
				<div class="h-ccv-zds">
					<i class="material-icons">location_on</i>
					<p class="h-ccv-place">其它驻点</p>
					<p class="h-ccv-placea">汕头、惠州、梅州，河源、东莞 </p>
				</div>
			</div>
			<div class="h-ccv-lb">
				<p class="h-ccv-lb_qd">相关渠道</p>
				<div class="h-ccv-lb_hr"></div>
				<div class="h-ccv-lb_part">
					<img src="./../resource/home/images/1670.png" alt="">
					<p class="h-ccv-lbpa"><a href="">金蝶国际软件集团</a></p>
					<i class="material-icons">remove_red_eye</i>
					<p>259810</p>
				</div>
				<div class="h-ccv-lb_hrs"></div>
				<div class="h-ccv-lb_part">
					<img src="./../resource/home/images/1670.png" alt="">
					<p class="h-ccv-lbpa"><a href="">云森科技有限公司</a></p>
					<i class="material-icons">remove_red_eye</i>
					<p>259810</p>
				</div>
			</div>
		</div>
		<div class="h-ccv-right">
			<img src="./../resource/home/images/hccv-t2.png" alt="">
		</div>
	</div>

	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="c1">
				<img src="../resource/home/images/1184.png" alt="">
				<p class="sm">免费服务热线：</p>
				<p class="big">400-822-3230</p>
				<ul>
					<li><span style="letter-spacing: 6px;">投诉电话</span>：0755-83125978</li>
					<li><span>周一到周六</span>：09:00-18:00</li>
					<li><span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>：hmkf@hmkj.com</li>  
					<li><span>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真</span>：0755-83125978</li>
				</ul>
			</div>
			<div class="list">
				<ul>
					<li>关于我们</li>
					<li><a href="">海脉介绍</a></li>
					<li><a href="">加入海脉</a></li>
					<li><a href="">海脉资讯</a></li>
					<li><a href="">海脉团队</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">海脉公告</a></li>
				</ul>
				<ul>
					<li>商务合作</li>
					<li><a href="">媒体合作</a></li>
					<li><a href="">空间合作</a></li>
					<li><a href="">资源合作</a></li>
					<li><a href="">活动合作</a></li>
					<li><a href="">代理合作</a></li>
				</ul>
				<ul>
					<li>隐私政策</li>
					<li><a href="">会员政策</a></li>
					<li><a href="">入驻公约</a></li>
					<li><a href="">会员卡政策</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li><a href="">空间地图</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">服务手册</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">意见反馈</a></li>
				</ul>
				<div class="line"></div>
				<p>总部地址： 深圳市南山区高新南六道16号泰邦科技大厦18楼</p>
			</div>
			<div class="ewm">
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>Android版下载</p>
				</div>
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>ios下载</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fbottom">
		<img src="../resource/home/images/1195.png" alt="">
		<p> Copyright © 海脉空间（深圳）有限公司（www.haimaikongjian.com）版权所有 | ICP经营许可证：粤B2-20130239</p>
	</div>
	
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>
</body>
</html>