<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fonts/material-icons.css">
	<link rel="stylesheet" href="css/ioffice.css">
	<link rel="stylesheet" href="css/tyle.css">
</head>
<body style="background-color: #f9f9f9;">
	<div class="container1200">
		<div class="h-td-breadcrumbs">
			<a href="">海脉汇 </a>><a href=""> 渠速拓 </a>><a href=""> 人才库 </a> > 欧阳珍
		</div>
		<div class="h-oyz-top">
			<img src="./../resource/home/images/htd-t1.png">
			<div class="h-oyz-card hoyzcard">
				<img src="./../resource/home/images/htd-t2.png">
				<div class="h-oyzinfo">
					<p class="h-oyz-name">欧阳珍</p>
					<p class="h-oyz-com">区域总监-神话集团责任有限公司</p>
					<p class="h-oyz-dz">中国-深圳</p>
					<ul class="h-oyz-ul">
						<li>资源</li>
						<li>技术</li>
						<li>效率</li>
					</ul>
				</div>
			</div>
			<button class="btn btn-default" type="submit">联系她</button>
		</div>
		<div class="h-oyz-lvl">
			<p class="h-oyz-lvl_title">个人履历</p>
			<div class="h-oyz-lvl_hr"></div>
			<div class="h-oyz-part">
				<i class="material-icons">school</i><span>教育背景</span>
				<p class="h-oyz-part_sj">2010.9-2014.6&nbsp;&nbsp;&nbsp;&nbsp;海南大学&nbsp;&nbsp;&nbsp;&nbsp;国际经济与贸易专业&nbsp;&nbsp;&nbsp;&nbsp;本科</p>
				<div class="h-oyz-part_hr"></div>
			</div>
			<div class="h-oyz-part">
				<i class="material-icons">work</i><span>工作经验</span>
				<p class="h-oyz-part_sj">2014.9-2016.9&nbsp;&nbsp;&nbsp;&nbsp;平安科技有限公司&nbsp;&nbsp;&nbsp;项目助理</p>
				<p class="h-oyz-part_sj">2014.9-至今&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;神话集团责任有限公司&nbsp;&nbsp;&nbsp;区域总监</p>
				<div class="h-oyz-part_hr"></div>
			</div>
			<div class="h-oyz-part">
				<i class="material-icons">description</i><span>项目经验</span>
				<p class="h-oyz-part_sj">2014.9-2016.9&nbsp;&nbsp;&nbsp;&nbsp;平安科技有限公司&nbsp;&nbsp;&nbsp;小安机器人</p>
				<p class="h-oyz-part_ms">项目描述：</p>
				<p class="h-oyz-part_nr">小安基于机器学习和语义理解技术，实现了模拟真人应答、24小时在线、无监督自主学习、多渠道问答自主响应等功能，让客户轻松便捷的完成业务咨询与办理。通过把人工智能应用于客服领域，一站式解决全渠道的用户在线咨询，为您构建更高效的智能客服平台。</p>
				<div class="h-oyz-part_xx"></div>
				<p class="h-oyz-part_sj">2014.9-2016.9&nbsp;&nbsp;&nbsp;&nbsp;平安科技有限公司&nbsp;&nbsp;&nbsp;小安机器人</p>
				<p class="h-oyz-part_ms">项目描述：</p>
				<p class="h-oyz-part_nr">小安基于机器学习和语义理解技术，实现了模拟真人应答、24小时在线、无监督自主学习、多渠道问答自主响应等功能，让客户轻松便捷的完成业务咨询与办理。通过把人工智能应用于客服领域，一站式解决全渠道的用户在线咨询，为您构建更高效的智能客服平台。</p>

				<div class="h-oyz-part_hr"></div>

			</div>
			<div class="h-oyz-part">
				<i class="material-icons">grade</i><span>获奖情况</span>
				<p class="h-oyz-part_sj">2015.6&nbsp;&nbsp;&nbsp;&nbsp;被命名为国家级有突出贡献专家;</p>
				<p class="h-oyz-part_sj">2016.9&nbsp;&nbsp;&nbsp;&nbsp;被评为全国先进劳动工作者；</p>
			</div>
		</div>

		<div class="h-oyz-xgrc">
			<p class="h-oyz-xgrc_title">相关人才</p>
			<div class="h-oyz-xgpart_hr"></div>
			<div class="h-oyz-xgpart">
				<img src="./../resource/home/images/htd-t2.png">
				<div class="h-oyz-xgpart_right">
					<p class="h-oyz-xgpart_name">蔡苏梅</p>
					<p>区域总监-神话集团责任有限公司</p>
					<p>中国-上海</p>
					<ul class="h-oyz-xgrc_ul">
						<li>资源</li>
						<li>技术</li>
						<li>效率</li>
					</ul>
				</div>
			</div>
			<div class="h-oyz-xgpart_hr" style="margin-top: 60px;"></div>
			<div class="h-oyz-xgpart">
				<img src="./../resource/home/images/htd-t2.png">
				<div class="h-oyz-xgpart_right">
					<p class="h-oyz-xgpart_name">汤楠</p>
					<p>区域总监-神话集团责任有限公司</p>
					<p>中国-上海</p>
					<ul class="h-oyz-xgrc_ul">
						<li>资源</li>
						<li>技术</li>
						<li>效率</li>
					</ul>
				</div>
			</div>
			<div class="h-oyz-xgpart_hr" style="margin-top: 60px;"></div>
			<div class="h-oyz-xgpart">
				<img src="./../resource/home/images/htd-t2.png">
				<div class="h-oyz-xgpart_right">
					<p class="h-oyz-xgpart_name">汤楠</p>
					<p>区域总监-神话集团责任有限公司</p>
					<p>中国-上海</p>
					<ul class="h-oyz-xgrc_ul">
						<li>资源</li>
						<li>技术</li>
						<li>效率</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div class="rightfix">
		<div class="online">
			<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
		</div>
		<div class="fixmenu">
			<ul>
				<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
			</ul>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="c1">
				<img src="../resource/home/images/1184.png" alt="">
				<p class="sm">免费服务热线：</p>
				<p class="big">400-822-3230</p>
				<ul>
					<li><span style="letter-spacing: 6px;">投诉电话</span>：0755-83125978</li>
					<li><span>周一到周六</span>：09:00-18:00</li>
					<li><span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</span>：hmkf@hmkj.com</li>  
					<li><span>传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真</span>：0755-83125978</li>
				</ul>
			</div>
			<div class="list">
				<ul>
					<li>关于我们</li>
					<li><a href="">海脉介绍</a></li>
					<li><a href="">加入海脉</a></li>
					<li><a href="">海脉资讯</a></li>
					<li><a href="">海脉团队</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">海脉公告</a></li>
				</ul>
				<ul>
					<li>商务合作</li>
					<li><a href="">媒体合作</a></li>
					<li><a href="">空间合作</a></li>
					<li><a href="">资源合作</a></li>
					<li><a href="">活动合作</a></li>
					<li><a href="">代理合作</a></li>
				</ul>
				<ul>
					<li>隐私政策</li>
					<li><a href="">会员政策</a></li>
					<li><a href="">入驻公约</a></li>
					<li><a href="">会员卡政策</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li><a href="">空间地图</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">服务手册</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">意见反馈</a></li>
				</ul>
				<div class="line"></div>
				<p>总部地址： 深圳市南山区高新南六道16号泰邦科技大厦18楼</p>
			</div>
			<div class="ewm">
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>Android版下载</p>
				</div>
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>ios下载</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fbottom">
		<img src="../resource/home/images/1195.png" alt="">
		<p> Copyright © 海脉空间（深圳）有限公司（www.haimaikongjian.com）版权所有 | ICP经营许可证：粤B2-20130239</p>
	</div>
	
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.SuperSlide.js"></script>
	<script>
		// jQuery(".slideBox").slide({mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:1000});
	</script>
</body>
</html>