<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title></title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../fonts/material-icons.css">
	<link rel="stylesheet" href="../css/ioffice.css">
</head>
<body>
	<div class="heto">
		<div class="header">
			<div class="container">
				<div class="top">
					<div class="search-icon"><i class="material-icons">search</i></div>
					<div class="lca"><i class="material-icons">location_on</i>深圳</div>
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    中文站 <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">英文</a></li>
					    <li><a href="#">繁体</a></li>
					  </ul>
					</div>
					<div class="ls">
						<a href="#">登陆</a>
						<a href="#">注册</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="logo">
				<img src="../resource/home/images/1184.png" alt="">
				<p>全国连锁灵活式联合办公空间综合服务商</p>
				<p>400-822-3230</p>
			</div>
			<ul class="navmenu">
				<li><a href="#">首页</a></li>
				<li><a href="#">海脉通</a></li>
				<li><a href="#">IOFFICE</a></li>
				<li><a href="#">海脉汇</a></li>
				<li><a href="#">企服宝</a></li>
				<li><a href="#">海脉融</a></li>
				<li><a href="#">海脉众包</a></li>
			</ul>
			<div class="hetowo">
				<p>我们已在全国提供了</p>
				<p class="big">12870</p>
				<p>个优质办工工位</p>
			</div>
		</div>
		<div class="heto32">
			<div class="container">
				<a href="" class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="big">海脉通</p>
					<p>助力企业发展</p>
				</a>
				<a href="" class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="big">海脉汇</p>
					<p>企业发展资源整合</p>
				</a>
				<a href="" class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="big">企服宝</p>
					<p>企业增值服务</p>
				</a>
				<a href="" class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="big">海脉融</p>
					<p>企业融资贷款及培训</p>
				</a>
				<a href="" class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="big">海脉众包</p>
					<p>海脉众包服务平台</p>
				</a>
			</div>
		</div>
	</div>

	<div class="container fixtainer">
		<div class="rightfix">
			<div class="online">
				<a href="javascript:;"><img src="../resource/home/images/online.png" alt="">在线咨询</a>
			</div>
			<div class="fixmenu">
				<ul>
					<li><a href="javascript:;"><img src="../resource/home/images/trolley.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/phone.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weixin.png" alt=""></a></li>
					<li><a href="javascript:;"><img src="../resource/home/images/weibo.png" alt=""></a></li>
				</ul>
			</div>
		</div>

		<div class="hms">
			<div class="curtitle">海脉空间·<span>IOFFICE</span></div>
			<div class="curline"></div>
			<p class="curdetails">是空间！远远不是空间！是连接人与空间的最佳载体！<br>是您企业低成本全国快速发展的助推器！是您企业产品、业务全国渠道网络快速稳健发展的加速器！</p>

			<div class="info">
				<div class="img-box"><img src="../resource/home/images/1603.png" alt=""></div>
				<div class="sec">
					<div class="title">拥有海脉空间 = 拥有</div>
					<p class="words">加速器加速器加速器加速器加速器加速器加速器加速器加速器加速器<br>加速器加速器加速器加速器加速器加速<br>加速器加速器加速器加速器加速器加速器加速器加速器加速器加<br>加速器加速器加速器加速器加速器加速器加速器加速</p>
				</div>
			</div>
		</div>
	</div>

	<div class="vip">
		<div class="container">
			<div class="curtitle">IOFFICE·<span>会员</span></div>
			<div class="curline"></div>
			<p class="curdetails">加入ioffice会员，助力企业发展</p>
			
			<div class="tgrid">
				<div class="item">
					<div class="icon"><img src="../resource/home/images/1658.png" alt=""></div>
					<p class="hed">空间服务</p>
					<p class="wor">虚拟服务（虚拟办公室、地址挂靠、电话秘书、行政文秘、商务支持等）</p>
					<p class="wor">实体服务（经理室、独立办公室、联合工位、会议室、会客室、共享区、物品寄存等）</p>
				</div>
				<div class="item">
					<div class="icon"><img src="../resource/home/images/1660.png" alt=""></div>
					<p class="hed">品牌传播</p>
					<p class="wor">IOFFICE（商务、现代、有逼格）</p>
					<p class="wor">企服宝（为企业品牌形象提供更专业的服务）</p>
				</div>
				<div class="item">
					<div class="icon"><img src="../resource/home/images/1659.png" alt=""></div>
					<p class="hed">渠道扩展</p>
					<p class="wor">海脉汇*渠速拓（渠道快速拓展）</p>
					<p class="wor">海脉汇*创业汇（产品、业务快速落地、代理创业者培育摇篮）</p>
				</div>
			</div>

			<p class="tips">一卡在手 全网通达 灵活租赁 按需下单 即来即走</p>
			<a href="" class="bigbtn">立即加入</a>
		</div>
	</div>

	<div class="ser">
		<div class="container">
			<div class="curtitle">IOFFICE·<span>服务</span></div>
			<div class="curline"></div>
			<p class="curdetails">给您的不仅仅是办公空间</p>

			<div class="tgrid">
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s11.png" alt=""></div>
						<p>经理室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s2.png" alt=""></div>
						<p>独立办公室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s3.png" alt=""></div>
						<p>联合办公工位</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s4.png" alt=""></div>
						<p>会议室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s5.png" alt=""></div>
						<p>会客室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/s6.png" alt=""></div>
						<p>物品寄存</p>
					</div>
				</div>
			</div>

			<div class="sermid">
				<div class="info">
					<p class="title">畅享独立私人商务空间，在心怡地段获得最佳办公体验</p>
					<div class="line"></div>
					<ul>
						<li>提供5-6人空间大小经理室</li>
						<li>办公桌、老板椅、茶具等，供会客、品茶、商务会谈等</li>
						<li>免费提供高级茶叶</li>
					</ul>
					<a href="" class="ydbtn">立即预定</a>
				</div>
				<div id="slideBox" class="slideBox">
					<div class="hd">
						<ul><li></li><li></li><li></li></ul>
					</div>
					<div class="bd">
						<ul>
							<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
							<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
							<li><a href="javascript:;"><img src="../resource/home/images/1137.png" /></a></li>
						</ul>
					</div>
					<a class="prev" href="javascript:void(0)"></a>
					<a class="next" href="javascript:void(0)"></a>
				</div>
			</div>

			<div class="tgrid">
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb1.png" alt=""></div>
						<p>虚拟办公室</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb2.png" alt=""></div>
						<p>地址挂靠</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb3.png" alt=""></div>
						<p>电话秘书</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb4.png" alt=""></div>
						<p>行政文秘</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb5.png" alt=""></div>
						<p>商务支持</p>
					</div>
				</div>
				<div class="tl">
					<div class="item">
						<div class="icon"><img src="../resource/home/images/sb6.png" alt=""></div>
						<p>更多more</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hmh">
		<div class="curtitle">海脉汇·<span>渠速拓</span></div>
		<div class="curline"></div>
		<p class="curdetails">构建不一样的渠道网络</p>
		<img src="../resource/home/images/1653.png" alt="">
	</div>

	<div class="vipqy">
		<div class="container">
			<div class="curtitle">会员企业</div>
			<div class="curline"></div>
			<p class="curdetails">加入会员 享受更多</p>

			<div class="fgrid">
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v1.png" alt=""></div>
						<p>电话秘书</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v2.png" alt=""></div>
						<p>教育</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v3.png" alt=""></div>
						<p>生活服务</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v4.png" alt=""></div>
						<p>文化传媒</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v5.png" alt=""></div>
						<p>智能硬件</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v6.png" alt=""></div>
						<p>电子商务</p>
					</div>
				</div>
			</div>
			<div class="fgrid">
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v7.png" alt=""></div>
						<p>文化传媒</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v8.png" alt=""></div>
						<p>消费品</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v9.png" alt=""></div>
						<p>能源环保</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v10.png" alt=""></div>
						<p>组织/结构</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v11.png" alt=""></div>
						<p>硬件/通信</p>
					</div>
				</div>
			</div>
			<div class="fgrid">
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v12.png" alt=""></div>
						<p>金融</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v13.png" alt=""></div>
						<p>技术服务</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v14.png" alt=""></div>
						<p>软件</p>
					</div>
				</div>
				<div class="item">
					<div class="inner">
						<div class="icon"><img src="../resource/home/images/v15.png" alt=""></div>
						<p>其他</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="hmbc">
		<div class="curtitle">海脉·<span>百川</span></div>
		<div class="curline"></div>
		<p class="curdetails">海脉企业愿景，迈向未来，迈向世界</p>
		<img src="../resource/home/images/1664.png" alt="">
	</div>

	<div class="hmzx">
		<div class="container">
			<div class="curtitle">海脉资讯</div>
			<div class="curline"></div>
			<p class="curdetails">行业资讯 一览无余</p>

			<div class="img-box">
				<a href="">
					<img src="../resource/home/images/1137_2.png" alt="">
					<div class="mark">号外！号外！海脉空间上线啦！上线啦！号外！号外！海脉空间上线啦！上线啦！</div>
				</a>
			</div>
			<div class="nws">
				<div class="hd">
					<ul>
						<li>海脉资讯</li><li>行业动态</li>
					</ul>
				</div>
				<div class="bd">
					<div>
						<ul>
							<li><a href=""><span>2017 /05 / 11</span>号外！号外！海脉空间上线啦！上线啦！</a></li>
							<li><a href=""><span>2017 /05 / 11</span>海脉空间上线啦！上线啦！</a></li>
							<li><a href=""><span>2017 /05 / 11</span>号外！号外！海脉空间上线啦！上线啦！</a></li>
							<li><a href=""><span>2017 /05 / 11</span>海脉空间上线啦！上线啦！上线啦！</a></li>
						</ul>
						<a href="" class="more">查看更多</a>
					</div>
					<div>
						行业动态行业动态行业动态
						<a href="" class="more">查看更多</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="c1">
				<img src="../resource/home/images/1184.png" alt="">
				<p class="sm">免费服务热线：</p>
				<p class="big">400-822-3230</p>
				<ul>
					<li><span style="letter-spacing: 6px;">投诉电话</span>：0755-83125978</li>
					<li><span>周一到周六</span>：09:00-18:00</li>
					<li><span>邮&#233888;&#233888;&#233888;箱</span>：hmkf@hmkj.com</li>  
					<li><span>传&#233888;&#233888;&#233888;真</span>：0755-83125978</li>
				</ul>
			</div>
			<div class="list">
				<ul>
					<li>关于我们</li>
					<li><a href="">海脉介绍</a></li>
					<li><a href="">加入海脉</a></li>
					<li><a href="">海脉资讯</a></li>
					<li><a href="">海脉团队</a></li>
					<li><a href="">联系我们</a></li>
					<li><a href="">海脉公告</a></li>
				</ul>
				<ul>
					<li>商务合作</li>
					<li><a href="">媒体合作</a></li>
					<li><a href="">空间合作</a></li>
					<li><a href="">资源合作</a></li>
					<li><a href="">活动合作</a></li>
					<li><a href="">代理合作</a></li>
				</ul>
				<ul>
					<li>隐私政策</li>
					<li><a href="">会员政策</a></li>
					<li><a href="">入驻公约</a></li>
					<li><a href="">会员卡政策</a></li>
				</ul>
				<ul>
					<li>帮助中心</li>
					<li><a href="">空间地图</a></li>
					<li><a href="">常见问题</a></li>
					<li><a href="">服务手册</a></li>
					<li><a href="">网站地图</a></li>
					<li><a href="">意见反馈</a></li>
				</ul>
				<div class="line"></div>
				<p>总部地址： 深圳市南山区高新南六道16号泰邦科技大厦18楼</p>
			</div>
			<div class="ewm">
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>Android版下载</p>
				</div>
				<div class="item">
					<img src="../resource/home/images/erweima.png" alt="">
					<p>ios下载</p>
				</div>
			</div>
		</div>
	</div>
	<div class="fbottom">
		<img src="../resource/home/images/1195.png" alt="">
		<p> Copyright © 海脉空间（深圳）有限公司（www.haimaikongjian.com）版权所有 | ICP经营许可证：粤B2-20130239</p>
	</div>
	
	<script src="../js/jquery-1.11.3.min.js"></script>
	<!-- <script src="js/jquery.pin.js"></script> -->
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.SuperSlide.js"></script>
	<script>
	jQuery(".slideBox").slide({mainCell:".bd ul",effect:"left",autoPlay:true,delayTime:1000});
	jQuery(".nws").slide({effect:"fold",trigger:"click",delayTime:500});
	</script>
	<!-- <script>
      $(".rightfix").pin({
        containerSelector: ".container"
        // padding: {top: 80}
      })
    </script> -->
</body>
</html>