{% include 'admin/iheader.html' %}
{% include 'admin/crumbs.html' %}
<table class="layui-hide" id="tabel_user" lay-filter="tabel_user"></table>
{% include 'admin/import.html' %}
<script type="text/html" id="barDemo">
	 <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>
<script>
    ykp.defineClass(['element', "jquery", 'laytpl'], {
        init: function () {
            var it = this;
            //初始化列表
            it.initTabel();
        },
        initTabel: function () {
            hm.load(function (option) {
                var table = option.table;
                var public = option.public;
                public.showTable({
                    topTool: {
                        btnArr: [{title: "添加",type: "add"},
								{title: "批量删除",type: "plDel",class: "layui-btn-danger"},
                                {title: "高级搜索", type: "hSearch"},
                                {title: "导出", type: "export"}
                            ]
                    },
                    cols: [{checkbox: true, },
                        {field: "id", width: 80, sort: true, title: "", type: "", sear: "id"},
                        {field: "name", width: 120, title: "圈子名称", type: "", sear: "name"},
                        {field: "title", width: 120, title: "标题", type: "", sear: "title"},
                        {field: "pic", width: 180, title: "圈子图片", type: "image"},
                        {field: "people_num", width: 180, title: "成员人数", type: "", sear: "people_num"},
                        {field: "desc", width: 150, title: "详细描述", type: "time", sear: "desc"},
                        {field: "create_at", width: 150, title: "创建时间",type: "time",sear: "create_at"},
                    	{field: "right", width: 150, title: "操作", toolbar: $('#barDemo'), align: "center", fixed: 'right'}
                    ],
                    reader: {
                        elem: "#tabel_user",
                        url: "{{base_url}}/admin/am/api_circle_dynamics/grid",
                        method: "post",
                        id: 'tabel_user',
                        where: {
                            filter: ""
                        },
                    },
                    autoCol: true, //自定义列表,
                    tool: {
                        id: "id", //该行id字段名
                        //是否执行跳转页面操作    true 不跳转  false 跳转  默认为false
                        Event: [{type: "edit",url: '{{base_url}}admin/auser/edit_circle_dynamic?id='},
                            {type: "detail", url: '{{base_url}}admin/auser/info_circle_dynamic?id='},
                            {type: "del", url: '/admin/am/api_circle_dynamics/delete'}
                        ]
                    },
                    topBtnActive: {
                        Event: [{type: "add",url: '{{base_url}}admin/auser/add_circle_dynamic'},
                        		{type: "plDel",url: '/admin/am/api_circle_dynamics/delete'},
                            {type: "improt", url: "/upload"},
                            {type: "export", url: "/upload"}
                        ]
                    }
                });
            });

        }
    });
</script>
</body>

</html>




