{% include 'admin/iheader.html' %}
<style>.layui-form-label {width: 100px !important;}</style>
{% include 'admin/crumbs1.html' %}
	<div class="layui-collapse" lay-filter="test">
	<div class="layui-colla-item">
		<h2 class="layui-colla-title">下拉查看详情</h2>
		<div class="layui-colla-content">
			<form class="layui-form" action="" style="width: 700px; padding-bottom: 100px;">
				
			</form>
		</div>
	</div>
</div>
<script>
	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initFrom();
		},

		initFrom: function() {
			hm.load(function(option) {
				var public = option.public;
				var element = option.element;
				public.showInfo({
				col: [
						{name: '真实姓名',val: 'realname'},
						{name: '角色ID',val: 'role_id'},
						{name: '用户名',val: 'username'},
						{name: '手机号',val: 'mobile'},
						{name: '邮箱',val: 'email'},
						{name: '性别',val: 'sex'},
						{name: '生日',val: 'birth_day'},
						{name: '描述',val: 'description'},
						{name: '头像',val: 'avatar'},
						{name: '内容',val: 'content'},
						{name: '创建时间',val: 'create_at',w:'300'},
						{name: '更新时间',val: 'update_at',w:'300'},
						{name: '创建者',val: 'creator_id'},
						{name: '状态',val: 'status',w:'300'}
					]
				})
				var result = public.getIframeParams(ykp.getSessionStorage('iframeId')); //获取当前iframe窗口的id值
				ykp.doAjax({
					url: '/admin/am/api_admin/info',
					method: "post",
					data: {
						filter : "am_admin.aid=" + result.id
					},
					success: function(res) {
						var data = res.data;
						hm.showDetails({
							el: ".layui-form",
							data: data
						});
					} //展示详情   具体实现方法请查看public.js
				})
				element.on('collapse(test)', function(data) {
					console.log('展开状态：' + data.show);
				});
			});
		},
	});
</script>
</body>

</html>


