<script src="/resource/front/js/jquery.min.js"></script>
<div class="entity-vip" style="display: none">


    {% for key,item in sthy %}
            <div class="cjvip-cont">
        <div class="cjvip-tit">
            <h3>{{item['grade']}}</h3>
            <h4>{{item['title']}} <span>{{item['discount']}}</span> 折</h4>
            <p>{{item['title2']}}</p>
        </div>
        <div class="cjvipshow clear">
            <div class="cardinfo">
                <h4>{{item['grade']}}</h4>
                <p>享受您的尊贵</p>
                <div><img src="{{item['img1']}}" alt=""></div>
            </div>
            <div class="lunbopic">

            </div>

        </div>
        <div class="zsItem clear">
            <p>赠送项目：</p>
            <ul class="clear">
                <li><i></i>茶水<span> 免费 </span>饮用</li>
                <li style="width: 300px"><i></i>赠送 <span> 1 </span> 杯咖啡</li>
                <li><i></i>赠送黑白A4打印、复印单店共计 <span> 10 </span>张，5店可享</li>
                <li style="width: 300px"><i></i>会客室每店每次免费使用 <span> 2 </span> 小时</li>
                <li><i></i>会议室每店每周免费使用 <span> 1 </span> 小时，不累计</li>
                <li style="width: 300px"><i></i>赠送总额<span> 3150+ </span>元</li>
                <li><i></i>最大可获得<span> 10000 </span>积分（积分可用于实体消费）</li>
                <li style="width: 300px"><i></i>获取平台海量资源权限</li>
            </ul>
            <div class="moreinfo clear">
                <div class="zxbt">咨询我们，了解更多</div>
                <div class="detailbt"><a href="/Hmtong/hmtVipOrderDetails">查看详情</a></div>
                <p>咨询服务电话：<span>400-822-3230</span></p>
            </div>
        </div>
        <p class="title2">加入会员可获资源</p>

        <div class="vip">
            {% for key2,item2 in item['get_res'] %}
            <div>
                <p>{{item2['num']}}</p>
                {{item2['title']}}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}








    <div class="contact-cont">
        <p class="contacttit">亲，以上没有符合您需求的，可提交您的需求，我们可以自定义为您提供服务！<br/> 或电联我们<span>{{tel}}</span></p>
        <ul >
            <li style="height:160px;margin-bottom: 30px;padding-left: 86px "><i style="top:18px;left: 30px;"><img src="/resource/front/images/pencil.png" alt=""></i><textarea placeholder="填写您的需求。"></textarea></li>
            <li style="margin-bottom:20px;"><i style="top:18px;left: 34px;"><img src="/resource/front/images/acct.png" alt=""></i><input type="text" placeholder="联系人"></li>
            <li style="margin-bottom:41px;"><i style="top:14px;left: 39px;"><img src="/resource/front/images/phone.png" alt=""></i><input type="text" placeholder="联系电话"></li>
        </ul>
        <div id="subBt">提&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交</div>
    </div>

</div>
