{% include 'front/header.html' %}

<link rel="stylesheet" href="/resource/front/css/hmtHome.css" />
<link rel="stylesheet" type="text/css" href="/resource/front/css/css.css" />



 <div style="width:1180px; margin:0 auto; height:auto;"> 
    <div class="ddt">海脉通 > 长租产品 > 订单详情</div>

     <div class="czcp">
         <div>订单号：{{content['order_num']}}</div>
         <div>订单状态：<span>{{content['order_state']}}</span></div>
         <div>下单时间：{{content['order_time']}}</div>
     </div>
    
    <div class="czcp1">
    	<div class="ddt4">
            <div class="ddt5" style="font-size:14px;">办公室类型：</div>
            <div class="ddt6" style="font-size:14px;">{{content['type']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">城市网点：</div>
            <div class="ddt6" style="font-size:14px;">{{content['addr']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">租赁周期：</div>
            <div class="ddt6" style="font-size:14px;">{{content['term']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">起止日期：</div>
            <div class="ddt6" style="font-size:14px;">{{content['start']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">房间编号：</div>
            <div class="ddt6" style="font-size:14px; color:#ff6600">{{content['choose_room']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">物品清单：</div>
            <div class="ddt6" style="font-size:14px;">物品清单：{% for key,item in content['goods'] %}{{item}}{% endfor %}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">房间月租：</div>
            <div class="ddt6" style="font-size:14px;color:#ff6600">￥{{content['Monthly']}}/月</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">押金方式：</div>
            <div class="ddt6" style="font-size:14px;">{{content['deposit']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">两押一租：</div>
            <div class="ddt6" style="font-size:14px;">{{content['mode']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">赠送项目：</div>
            <div class="ddt6" style="font-size:14px;">{{content['give']}}</div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">费用明细：</div>
            <div class="ddt6" style="font-size:14px;">租金  (8.1-9.1)  <span style="color:#ff6600">¥1500</span> +押金 <span style="color:#ff6600;">¥3000</span></div>
        </div>
    </div>
    
    
    <div class="czcp2">
    	<div class="ddt4">
            <div class="ddt5" style="font-size:14px;">套餐费用：</div>
            <div class="ddt6" style="font-size:14px;"><span style="color:#ff6600">¥{{content['rent']}}</span> </div>
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">支付方式：</div>
            <div class="ddt6" style="font-size:14px;"></div>
        </div>
        <div class="czcp3">
            {% for key,item in content['pay_type'] %}
            <li>
                <div><img src="{{item}}" /></div>
            </li>
            {% endfor %}
        </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;color:#ff6600">温馨提示：</div>
            <div class="ddt6" style="font-size:14px;">{{content['tip']}}</div>
        </div>
        <div class="ddt7">立即支付</div>
        
        <div class="czcp4"><div><img src="images/a1_11.png" /></div>我已阅读《<a href="#">场地实体长租使用说明</a>》并同意《<a href="#">场地实体长租购买及使用协议</a>》</div>
        
        
    </div>
    
    
    
    
    
    
    
    
 </div>


{% include 'front/footer.html' %}