{% include 'front/header.html' %}
<link rel="stylesheet" href="/resource/front/css/hmtHome.css" />
<link rel="stylesheet" type="text/css" href="/resource/front/css/css.css" />

<style>
    .onh:hover
    {
        background: #fff;
        box-shadow: 0 1px 8px 4px #eee;
    }
    .ddt {
    	margin-top: 58px;
    }
  
    .picture {
    	width: 100%;
    	height: 120px;
    	margin-top: 60px;
    	background: url(/resource/front/images/1203.png);
    }
    .picture p {
    	  text-align: center;
    	  padding:42px 240px;
		  font-family: MicrosoftYaHei;
		  font-size: 36px;
		  line-height: 0.67;
		  color: #343434;
		  text-shadow: 0px 2px 9px #fff;
    }
    .word {
    	margin-top: 60px;
    	text-align: center;
		font-family: MicrosoftYaHei;
		font-size: 18px;
		line-height: 2.5;
		color: #333333;    	
    }
    .word span {
    	  font-size: 28px;
		  line-height: 1.61;
		  color: #ff8533;
    }
    .procedure {
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
    	width: 100%;
    	height: 20px;
    	margin-top:35px;
    	margin-bottom: 136px;
    }
    .procedure p {
    	width: 16.6%; 
    }
    .ddt9 {
    	text-align: center;
    }
</style>
<div style="width:1200px; margin:0px auto; height:auto;margin-top: 123px;">
    <div class="ddt">海脉通 > 全网通产品</div>
    <div class="picture">
    	<p>全网通-企业按需快速发展软着路的解决方案</p>
    </div>
    <div class="word">
    	可享受全国34个省份<span>所有</span>已布局及将布局城市的服务
    </div>
    <ul class="city">
        {% for key,item in qwt_img %}
        <li class="onh">
        	<div class="city2" hidden">
						<div class="image-a"><img src="{{item['path2']}}" alt=""></div>
						<p class="city3">{{item['title']}}</p>
						<p class="city4">{{item['title2']}}</p>
					</div>
					<div class="c1">
            <p class="city1 "><img src="{{item['path']}}" alt=""></p>
            <span>{{item['title']}}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
   
       <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">已开通城市：</div>
            <div class="ddt6" style="font-size:14px;">
                {% for key,item in content['open'] %}
                <li>
                    <p>{{item}}</p>
                </li>
                {% endfor %}
            </div>
        </div>
    
    <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">即将开通城市：</div>
            <div class="ddt6" style="font-size:14px;">
                {% for key,item in content['no_open'] %}
                <li>
                    <p>{{item}}</p>
                </li>
                {% endfor %}
            </div>
        </div>
     <p class="title2">加入会员可获资源</p>

    <div class="vip">
        {% for key,item in qwt %}
        <div>
            <p>{{item['num']}}</p>
            {{item['title']}}
        </div>
        {% endfor %}
    </div>
        <div class="ddt4">
            <div class="ddt5" style="font-size:14px;">赠送项目：</div>
            <div class="ddt6" style="font-size:14px;"></div>
        </div>
        
        <div class="ddt10">
            {% for key,item in content['give'] %}
            <li>
                <div class="ddt11">{{item['name']}}<span style="float:right;"><span style="font-weight:bold;color:#ff6600; font-size:18px;">{{item['num']}}</span> {{item['company']}}</span></div>
            </li>
            {% endfor %}
        </div>

   
<div class="ddt4">
            <div class="ddt5" style="font-size:14px;">套餐费用：</div>
            <div class="ddt6" style="font-size:14px;"><span style="color:#ff6600;">¥{{content['cost']}}</span></div>
        </div>
    <div class="ddt15"><a href="/Hmtong/hmtQWTOrderDetails"><span>立即购买</span></a></div>
    <div class="ddt8">购买使用流程</div>
    <div class="ddt9">
    	<img src="/resource/front/images/1265.png" /></div>
    	<div class="procedure">
    		<p style="padding-left: 28px">选购会员卡</p>
    		<p style="padding-left: 48px">提交订单</p>
    		<p style="padding-left: 58px">支付订单</p>
    		<p style="padding-left: 72px">购买成功</p>
    		<p style="padding-left: 38px">填写企业信息,签订合同</p>
    		<p style="padding-left: 88px">正式使用服务</p>
    	</div>
 </div>
<script>
	$(function () {
    $("li.onh").hover(function(){
        $(this).find('.city2').show();
		$(this).find('.c1').hide();
	},function(){
		$(this).find('.city2').hide();
		$(this).find('.c1').show();
	});

    })
</script>



{% include 'front/footer.html' %}
