{% include 'admin/iheader.html' %}
<style>
	body {margin: 10px;}
	.demo-carousel {height: 200px;line-height: 200px;text-align: center;}
	.layui-table-view .layui-table {width: 100%}
	.model {padding: 20px;}
	.layui-upload-img {width: 100px;height: 100px;border: 1px solid transparent;}
	.layui-input-block {margin-left: 120px !important;}
</style>
{% include 'admin/crumbs1.html' %}
<form class="layui-form" action="" style="width: 720px; padding-bottom: 30px;"></form>
<script>
	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initFrom();
		},
		initFrom: function() {
			hm.showAddEdit({
				el: ".layui-form",
				list: [
					{type: "text",name: "名称",verify:"required",field: "im_cz_product-name"},
					{type: "text",name: "长租天数",verify:"required", field: "im_cz_product-time_range"},
					{type: "text",name: "城市",verify:"required",field: "im_cz_product-city_id",},
					{type: "select",name: "店铺名称",verify:"required",field: "im_shop-shop_id",height:180,w:180,url:"/admin/im/api_shop/grid",colKey:"im_shop.shop_id",colName:"im_shop.name"},
					{type: "select",name: "办公类型",verify:"required",field: "im_cz_product-type",sOption: {0:"经理室",1:"办公室",2:"移动工位",3:"固定工位"}},
					//{type: "checkbox",name: "服务类型",field: "um_provider.invest_type", url:"http://www.my-haimai.com/admin/api_user",colKey:"uid",colName:"username"},  //异步获取数据的时候
					{type: "select",name: "创建人",verify:"required",field: "um_user-creator_id",url:"/admin/api_user/grid",colKey:"uid",colName:"username"},
					{type: "time",name: "创建时间",verify:"required",field: "im_cz_product-create_at"},
				],
				lw:85,
				selectKey:"",   //列字段id   例: id, product_id
				verifyData:{
					option: [{
						verifyDate: "pInt"
					}],
					el: ".layui-form"
				},  //检索  默认  ''  要检索时  添加检索
				infoUrl:"",   //编辑详情接口
				addEditUrl:'/admin/Api_cz_product/update_or_add', //添加的接口 
				prevUrl:'{{base_url}}/admin/product/czProduct'   //添加成功返回的页面
			});
			
			
		},
	});
</script>
</body>
</html>