{% include 'admin/iheader.html' %}
{% include 'admin/crumbs.html' %}
<table class="layui-hide" id="tabel_user" lay-filter="tabel_user"></table>
{% include 'admin/import.html' %}
<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
</script>
<script>
	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initTabel();
		},
		initTabel: function() {
			hm.load(function(option) {
				var table = option.table;
				var public = option.public;
				public.showTable({
					topTool: {
						btnArr: [{title: "添加",type: "add",url: "{{base_url}}admin/product/addService"}, 
						{title: "高级搜索",type: "hSearch",},
						{title: "导出",type: "export",}]
					},
					cols: [{checkbox: true,},
						{field: "im_cz_product-id",width: 80,title: "ID",type: "",sear: "im_cz_product-id"},
						{field: "im_cz_product-name",width: 80,title: "名称",type: "",sear: "im_cz_product-name"},
						{field: "im_cz_product-time_range",width: 80,title: "长租期限",type: "",sear: "im_cz_product-time_range",},
						{field: "im_cz_product-city_id",width: 150,title: "城市",type: "",sear: "im_cz_product-city_id"},
						{field: "im_shop-name",width: 150,title: "店铺ID",type: "",sear: "im_cz_product-shop_id",},
						{field: "im_cz_product-type",width: 150,title: "办公类型",type: "select",sear: "im_cz_product-type",enum: {0:"经理室",1:"办公室",2:"移动工位",3:"固定工位"}},
						{field: "um_user-username",width: 150,title: "创建人ID",type: "",sear: "im_cz_product-creator_id"},
						{field: "im_cz_product-create_at",width: 180,title: "创建时间",align: "center",type: "time",sear: "im_cz_product-create_at"},
						{field: "right", width: 180, title: "操作", toolbar: $('#barDemo'), align: "left", fixed: 'right', }
					],
					reader: {
						elem: "#tabel_user",
						url: "{{base_url}}/admin/Api_cz_product/grid",
						method: "post",
						id: 'tabel_user',
						where: {
							filter: ""
						},
						data: getData
					},
					autoCol: true, //自定义列表,
					tool: {
						id: "im_cz_product-id",  //该行id字段名
						//是否执行跳转页面操作    true 不跳转  false 跳转  默认为false
						Event: [{type: "edit",url: '{{base_url}}admin/product/editczProduct?id='},
							{type: "detail",url: '{{base_url}}admin/product/info_czProduct?id='}
						]
					},
					topBtnActive: {
						Event: [{type: "add",url: '{{base_url}}admin/product/addczProduct'},
							{type: "export",url: "/upload"}
						]
					}
				});
			});
			
			function getData(res,callback) {
				console.log(res);
				if(typeof callback == 'function') {
					callback(res.data);
				}
				console.log(res.data);
			}
		}
	});
</script>
</body>

</html>