{% include 'admin/iheader.html' %}
<style>
	body {margin: 10px;}
	.demo-carousel {height: 200px;line-height: 200px;text-align: center;}
	.layui-table-view .layui-table {width: 100%}
	.model {padding: 20px;}
	.layui-upload-img {width: 100px;height: 100px;border: 1px solid transparent;}
</style>
{% include 'admin/crumbs1.html' %}
<form class="layui-form" action="" style="width: 720px; padding-bottom: 30px;">
</form>
<script src="/resource/admin/js/jslib/citys.js"></script>
<!--<script src="/resource/admin/js/jslib/bootstrap-3.3.5/js/bootstrap.min.js"></script>-->
<script>
	ykp.defineClass(['element', "jquery"], {
		init: function() {
			var it = this;
			//初始化列表
			it.initFrom();
		},
		initFrom: function() {
			hm.showAddEdit({
				el: ".layui-form",
				list: [{type: "text",name: "id", display:true,field: "id"},
					{type: "text",name: "名称",field: "name"},
					{type: "text",name: "服务简介",verify:"tel", field: "title"},
					{type: "text",name: "服务内容",field: "content",},
					{type: "radio",name: "服务类型",block:true,field: "type",sOption: {0: "虚拟服务",1: "实体服务"}},
					{type: "select",name: "限制次数",field: "is_limit_num",sOption: {0: "不限制",1: "限制"}},
//					{type: "citySelect",name: "限制次数",block:true,field: "is_limit_num",city:['province','city','area','北京']},
					//{type: "select",name: "投资方式",field: "um_provider.invest_type", url:"http://www.my-haimai.com/admin/api_user",colKey:"uid",colName:"username"},  //异步获取数据的时候
					{type: "upload",name: "图片",field: "pics",uploadUrl:"http://www.my-haimai.com/api/api_common/upload_file"},
					{type: "upload",name: "图标",field: "icon",uploadUrl:"http://www.my-haimai.com/api/api_common/upload_file"},
				],
				selectKey:"id",   //列字段id   例: id, product_id
				/*verifyData:{
					option: [{
						verifyDate: "password"
					}, {
						verifyDate: "tel"
					},{
						verifyDate: "test",
						match:[/\d+\.\d+\.\d+\.\d+ /, '请填写正确的ip']
					}],
					el: ".layui-form"
				},  //检索  默认  ''  要检索时  添加检索*/
				infoUrl:"/admin/Api_product/info",   //编辑详情接口
				addEditUrl:'/admin/Api_product/update_or_add', //添加的接口 
				prevUrl:'{{base_url}}/admin/product/service'   //添加成功返回的页面
			});
		},
	});
</script>
</body>
</html>